.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

.my-text {
  margin: 2px;
  padding: 2px !important;
}
button {
  margin-right: 0;
  width: 100%;
  background-color: #437ed6 !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
.full-width button:hover {
  background-color: #679ef0 !important;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .title-response {
    padding: 140px 30px 30px 30px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .title-response {
    padding: 20px 30px 30px 30px !important;
    margin-bottom: 30px;
  }
}
.modal-section2 .views-field {
  color: black;
  /* font-family: "Zilla Slab", serif; */
  font-size: 29px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 120%;
  padding-left: 4px;
}
.views-field-field-subtitle {
  color: #003595;
  font-size: 19px;
  font-weight: 700;
  font-family: source sans pro, Helvetica, Tahoma, Verdana, Arial, sans-serif;
}
.views-field-body p {
  color: #222;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
  font-family: source sans pro, Helvetica, Tahoma, Verdana, Arial, sans-serif;
}
.text-link {
  color: rgb(0, 53, 149);
  cursor: pointer;
  display: inline;
  font-family: "source sans pro", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: auto;
  line-height: 25.2px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-decoration-color: rgb(0, 53, 149);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  width: auto;
  -webkit-font-smoothing: antialiased;
}
.view-font-content {
  color: #fff;
  text-align: left;
  margin: 0 auto;
  float: left;
  font-size: 16px;
  line-height: 140%;
  width: 60%;
  font-weight: unset !important;
  font-family: source sans pro, Helvetica, Tahoma, Verdana, Arial, sans-serif;
}
.form-input {
  text-align: left !important;
  width: 100%;
  max-width: 100% !important;
}

.form-input:focus {
  border-color: #747b35 !important;
  border-radius: 0px !important;
  outline: none;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 17, 255, 0.075), 0 0 0.6rem #353f7b !important;
  box-shadow: inset 0 0.1rem 0.1rem #00000013, 0 0 0.6rem #353f7b !important;
}
#gift_message {
  font-size: 16px !important;
  width: 100%;
}
.gift-part .form-line {
  border: none !important;
  display: block !important;
}
.form-colum {
  display: flex !important;
  justify-content: space-between !important;
}
.donation-form {
  width: 100%;
}
.form-actions {
  display: flex;
  justify-content: space-between;
}
#donate_next {
  margin-right: 5px;
}
#payBtn {
  margin-left: 5px;
}

.modal-section1 .form-line {
  display: flex;
  justify-content: space-between;
  margin: 2px 10px 5px 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e0e0e0;
}
.modal-section1 .form-line .item-content {
  text-align: right;
}
.modal-section1 .form-line .item-title {
  padding-right: 10px;
}
.form-line .form-text {
  font-size: 15px !important;
}
.form-field {
  border: 1px solid #ccc !important;
  padding: 5px 8px;
  margin: 1px 3px;
  /* height: 37px !important; */
}

a.fee-edit {
  cursor: pointer;
  background-color: #fff !important;
  border: 1px solid #e0e0e0 !important;
  font-weight: 600 !important;
  margin-right: 1rem !important;
  margin-top: 0px !important;
  padding: 5px 7px !important;
  outline: none;
  width: unset;
  height: 30px !important;
  color: #232323;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
a.fee-edit:hover {
  box-shadow: 0 0 4px 2px #d8d8d8 !important;
  color: #565656 !important;
}
.modal-section1 .form-line-inner {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 2px 0px;
  padding: 5px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
}
#fee-content {
  font-size: 15px !important;
}
.modal-section1 .total .views-field {
  font-weight: 800 !important;
}
.donation-modal {
  font-family: "Helvetica" !important;
}
#donateSection {
  padding: 10px;
  margin: 15px;
  display: flex;
  justify-content: center;
}
.donation-modal .modal-header {
  position: relative;
  background-color: #437ed6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.btn-close img {
  width: 32px !important;
  height: 32px !important;
  cursor: pointer;
}
.modal-img {
  border: none !important;
  margin-top: 10px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-img img {
  margin: auto;
}
.modal-section-title,
.modal-section-title .item-content {
  font-size: 14px !important;
  color: #757575;
  line-height: 135%;
  text-align: center;
}
#gift-checked {
  text-decoration: underline;
  margin-top: 15px;
  cursor: pointer;
  color: #d21702;
}
#gift-checked:hover {
  color: #f83b3b;
}
.gift-section {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}
.gift-section div {
  font-size: 15px !important;
  padding-top: 15px !important;
}
@media only screen and (max-width: 767px) {
  .modal-img img {
    width: 100%;
    max-width: 100px !important;
  }
}
@media only screen and (max-width: 600px) {
  .modal {
    padding-top: 0px !important;
  }
  .donation-modal .modal-content {
    min-height: 100vh;
  }
  #donateSection {
    overflow-y: auto;
  }
}
.modal-section2 {
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 600px;
  /* min-width: 400px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #d9ee60;
  color: white;
}
.modal-header h2 {
  margin: 10px;
}
.modal-header span {
  margin: 15px;
}

.modal-body {
  padding: 2px 16px;
}
.modal-body input {
  border-radius: 0px !important;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #d9ee60;
  color: white;
}
.detail-show {
  display: none !important;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #7da5fa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #2824ff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */

/* 
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
  padding: 20px;
}

input {
  width: 100%;
  margin-top: 0;
  padding: 0.5em;
  border: 0;
  border-bottom: 2px solid gray;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

input[type="reset"] {
  width: auto;
  height: auto;
  border-bottom: 0;
  background-color: transparent;
  color: rgb(104, 104, 104);
  font-size: 14px;
} */

.title {
  width: 100%;
  margin-block-end: 0;
  font-weight: 500;
}

.note {
  width: 100%;
  margin-block-start: 0;
  font-size: 12px;
}

.form-label {
  width: 100%;
  padding: 0.5em;
}

.full-field {
  flex: 400px;
  margin: 15px 0;
}

.slim-field-left {
  flex: 1 150px;
  margin: 15px;
  margin-inline-start: 0;
}

.slim-field-right {
  flex: 1 150px;
  margin: 15px;
  margin-inline-end: 0;
}

.my-button {
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  padding: 6px 24px;
  text-decoration: none;
}

.my-button:hover {
  background-color: #666;
}

.my-button:active {
  position: relative;
  top: 1px;
}
