body {
  width: 100%;
}
#page-wrapper {
  width: 100%;
}
#header.shrink #alsf-logo a {
  width: 140px;
  display: inline-block;
}
#nav-wrapper #sidr-0-button {
  width: 40px;
}
.pane-custom.mobile {
  margin: 0 auto;
  max-width: 480px;
}
@media only screen and (min-width: 1260px) {
  iframe {
    min-height: 450px !important;
  }
}
@media only screen and (max-width: 1630px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 10%;
  }
}
@media only screen and (max-width: 1590px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 9%;
  }
}
@media only screen and (max-width: 1550px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 8%;
  }
  .node-type-campaign-subpage img.banner-badge {
    display: none;
  }
  .node-type-campaign img.banner-badge {
    display: none;
  }
}
@media only screen and (max-width: 1510px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 7%;
  }
}
@media only screen and (max-width: 1480px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 6%;
  }
}
@media only screen and (max-width: 1440px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 5%;
  }
}
@media only screen and (max-width: 1410px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 4%;
  }
}
@media only screen and (max-width: 1380px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 3%;
  }
  #breadcrumb-wrapper {
    margin: 20px 0 0 20%;
  }
}
@media only screen and (max-width: 1360px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 2%;
  }
}
@media only screen and (max-width: 1340px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 1%;
  }
}
@media only screen and (max-width: 1310px) {
  #nav-wrapper.sticky #sidr-wrapper-0 #sidr-0-button {
    right: 50px;
  }
}
@media only screen and (max-width: 1280px) {
  #dashboard-wrapper .dashboard-thermometer {
    max-width: 1030px;
  }
  .flexslider .views-field-field-learn-more-link {
    left: 30%;
  }
  .flexslider .views-field-field-register-link {
    right: 30%;
  }
  .leaderboard-links {
    margin-right: 45px;
  }
}
@media only screen and (max-width: 1256px) {
  .menu-block-wrapper:after,
  .chevron:before,
  .chevron:after {
    border-width: 0 145px 40px;
  }
  .grants-home .program-earlycareer,
  .grants-home .program-accelerator,
  .grants-home .program-quality {
    width: 26%;
  }
  .grants-home .grants-landing-page-block-header a {
    margin: -18px 20px 0 0;
  }
}
@media only screen and (max-width: 1250px) {
  #grant-guidelines-intro {
    background: url(../images/bg-grant-guidelines-header.png) -60px 40px no-repeat;
  }
  #grant-guidelines-intro p {
    max-width: 400px;
  }
  .panels-flexible-row-inside {
    max-width: 880px;
  }
  .amm-nav .panels-flexible-row-inside,
  .steps .panels-flexible-row-inside {
    max-width: 1070px;
  }
  .view-landing-page-slideshows .flexslider {
    margin: 60px auto 20px;
    transform: scale(0.85);
  }
  .view-landing-page-slideshows ul.slides li {
    margin: 0 auto;
  }
  .view-landing-page-slideshows .flex-control-nav {
    bottom: 0;
    left: 0;
  }
  .view-landing-page-slideshows .flexslider:hover .flex-direction-nav .flex-prev,
  .view-landing-page-slideshows .flex-direction-nav a.flex-prev {
    left: -130px !important;
  }
  .view-landing-page-slideshows .flexslider:hover .flex-direction-nav .flex-next,
  .view-landing-page-slideshows .flex-direction-nav a.flex-next {
    right: -130px !important;
  }
  .panels-flexible-row.nav-icons li {
    margin: 10px 25px 40px;
  }
  #amm .row-full-2 .panels-flexible-row-inside {
    max-width: 1024px;
  }
}
@media only screen and (max-width: 1220px) {
  .flexslider .views-field-field-learn-more-link {
    left: 28%;
  }
  .flexslider .views-field-field-register-link {
    right: 28%;
  }
}
@media only screen and (max-width: 1216px) {
  .menu-block-wrapper:after,
  .chevron:before,
  .chevron:after {
    border-width: 0 140px 40px;
  }
}
@media only screen and (max-width: 1214px) {
  #dashboard-wrapper .dashboard-thermometer {
    width: 92.5%;
  }
  #dashboard-wrapper .dashboard-leaderboard {
    width: 63%;
  }
  #dashboard-wrapper .dashboard-quote,
  #dashboard-wrapper .dashboard-follow,
  #dashboard-wrapper .dashboard-help {
    width: 24%;
  }
  .dashboard-follow li a {
    background-size: cover;
    height: 54px;
    width: 54px;
  }
  .dashboard-follow li#twitter a {
    background-position: -54px 0;
  }
  .dashboard-follow li#instagram a {
    background-position: -108px 0;
  }
  .dashboard-follow li#google a {
    background-position: -162px 0;
  }
  .kickit.choose .panels-flexible-region-alsf_campaign_layout-row-halves-2-right-region {
    width: 45%;
  }
}
@media only screen and (max-width: 1176px) {
  .menu-block-wrapper:after,
  .chevron:before,
  .chevron:after {
    border-width: 0 135px 40px;
  }
}
@media only screen and (max-width: 1168px) {
  #menu-bar #block-search-form input#edit-search-block-form--2 {
    width: 220px;
  }
}
@media only screen and (max-width: 1159px) {
  .region-highlighted {
    margin: 0 0 15px;
  }
  #leaderboard-wrapper div a:before {
    display: none !important;
  }
  #breadcrumb-wrapper {
    margin: 20px 0 0 15%;
  }
  #dashboard-wrapper .dashboard-spotlight,
  #dashboard-wrapper .dashboard-hero,
  #dashboard-wrapper .dashboard-share {
    width: 27%;
  }
  #dashboard-wrapper .dashboard-thermometer {
    width: 91%;
  }
  #dashboard-wrapper .dashboard-leaderboard {
    width: 60%;
  }
  #dashboard-wrapper .dashboard-quote,
  #dashboard-wrapper .dashboard-follow,
  #dashboard-wrapper .dashboard-help {
    width: 25%;
  }
  #cook-book .panels-flexible-region-alsf_campaign_layout-row-halves-1-right-region {
    width: 100%;
    margin-top: 15px;
  }
  .row-halves-2 .panels-flexible-region {
    width: 100%;
  }
  .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region,
  .panels-flexible-region-alsf_campaign_layout-row-halves-1-right-region,
  .panels-flexible-region-alsf_campaign_layout-row-halves-2-left-region,
  .panels-flexible-region-alsf_campaign_layout-row-halves-2-right-region,
  .panels-flexible-region-alsf_campaign_layout-row-halves-3-left-region,
  .panels-flexible-region-alsf_campaign_layout-row-halves-3-right-region {
    width: 100%;
    margin-top: 15px;
  }
  .kickit.choose .panels-flexible-region-alsf_campaign_layout-row-halves-2-left-region {
    float: left;
    width: 49.5%;
  }
  .kickit.choose .panels-flexible-region-alsf_campaign_layout-row-halves-2-right-region {
    float: left;
    width: 45%;
  }
}
@media only screen and (max-width: 1139px) {
  #menu-bar #block-search-form input#edit-search-block-form--2 {
    width: 180px;
  }
  .field-name-featured-video .block-inner {
    width: 100%;
    position: relative;
  }
  .field-name-featured-video .block-inner .block-content iframe {
    width: 100%;
  }
  #grant-guidelines-intro {
    background: url(../images/bg-grant-guidelines-header.png) -100px 40px no-repeat;
  }
  #grant-guidelines-intro p {
    max-width: 350px;
  }
  #menu-bar #block-search-form .form-submit {
    right: 8px;
  }
  .full-width .banner-badge,
  .page-node-1121949 .banner-badge {
    display: none;
  }
  .flexslider .views-field-field-learn-more-link {
    left: 25%;
  }
  .flexslider .views-field-field-register-link {
    right: 25%;
  }
  .menu-block-wrapper:after {
    border-width: 0 130px 40px;
  }
}
@media only screen and (max-width: 1099px) {
  #nav-wrapper .nav li a,
  #nav-wrapper .nav ul.menu li a {
    font-size: 114%;
  }
  #superfish-1.menu li ul {
    margin-top: 13px !important;
  }
  .nav {
    padding: 0 15px;
  }
  #menu-bar.nav {
    padding: 0;
  }
  .dashboard-follow li a {
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  .dashboard-follow li#twitter a {
    background-position: -50px 0;
  }
  .dashboard-follow li#instagram a {
    background-position: -100px 0;
  }
  .dashboard-follow li#google a {
    background-position: -150px 0;
  }
  .menu-block-wrapper:after,
  .chevron:before,
  .chevron:after {
    border-width: 0 132px 40px;
  }
  #inquiry-form-sidebar {
    width: 25%;
  }
}
@media only screen and (max-width: 1089px) {
  .chevron,
  .menu-block-wrapper {
    width: 250px;
  }
  .menu-block-wrapper:after,
  .chevron:before,
  .chevron:after {
    border-width: 0 125px 40px;
  }
}
@media only screen and (max-width: 1039px) {
  #menu-bar #block-search-form input#edit-search-block-form--2 {
    width: 170px;
  }
  #grant-guidelines-intro {
    background: url(../images/bg-grant-guidelines-header.png) -140px 40px no-repeat;
  }
  #grant-guidelines-intro p {
    max-width: 325px;
  }
}
@media only screen and (min-width: 1260px) {
  iframe {
    min-height: 450px !important;
  }
}
@media only screen and (min-width: 1160px) {
  .full-generic .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region,
  .full-generic .panels-flexible-region-alsf_campaign_layout-row-halves-1-right-region {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1100px) {
  .slogan em {
    font-size: 16px;
  }
  .tiny .leaderboard-links,
  .leaderboard-links {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1044px) {
  .node-type-campaign #main-content h2.getinv {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .at-panel .region-two-brick-left-above,
  .at-panel .region-two-brick-right-above,
  .at-panel .region-two-brick-right-below,
  .at-panel .region-two-brick-left-below {
    width: 48% !important;
  }
}
@media (max-width: 1024px) {
  .region-sidebar-first .block img {
    float: none;
  }
  .region-sidebar-first .block h3 {
    margin: 0;
  }
  .fundraiser-search-preview li {
    width: 25%;
  }
  .view-campaign-dashboard-blocks img {
    width: 100%;
  }
  #secondary-content-wrapper h2,
  #secondary-content-wrapper h1 {
    font-size: 3.75em;
  }
  #amm .step-header p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1023px) {
  #menu-bar #block-search-form input#edit-search-block-form--2 {
    width: 160px;
  }
  #views_slideshow_cycle_teaser_section_grants_slideshow-block {
    width: 100%;
  }
  .grants-home .program-earlycareer,
  .grants-home .program-accelerator,
  .grants-home .program-quality {
    width: 27% !important;
    margin: 0 3% !important;
  }
  .grants-home #content-column {
    width: 100%;
  }
  #superfish-1.menu li ul {
    width: 96% !important;
  }
  fieldset.navigation,
  fieldset.step {
    width: 100%;
    padding: 0;
  }
  .page-node-register #content-column {
    width: 100% !important;
  }
  fieldset.new-team-fielset {
    width: 100%;
    float: none;
    margin: 20px 0;
  }
  #leaderboard-wrapper div.block-sign-in,
  #leaderboard-wrapper div.get-involved,
  #leaderboard-wrapper div.donate {
    border: none;
  }
  #secondary-content-wrapper h1 {
    padding-top: 0.65em !important;
  }
  #secondary-content-wrapper h2 {
    padding-top: 1.35em;
  }
  .view-grants-slideshow .views-field-field-slideshow-text {
    width: 30%;
    display: inline-block;
  }
  .view-grants-slideshow .views-field-field-image {
    width: 50%;
    display: inline-block;
  }
  .five-5x20 > .row-1 > .region,
  .three-25-25-50 > div.region-three-25-25-50-third,
  .three-25-50-25 > div.region-three-25-50-25-second,
  .three-50-25-25 > div.region-three-50-25-25-first,
  .two-brick > .panel-row > .region,
  .two-50 > .region {
    width: 100%;
  }
  .full-width #campaign-banner-block h2,
  .page-node-1121949 #campaign-banner-block h2 {
    font-size: 52px;
    line-height: 0.9em;
    padding-top: 0.325em;
  }
  #dashboard-wrapper {
    width: 100%;
  }
  #dashboard-wrapper .dashboard-spotlight,
  #dashboard-wrapper .dashboard-hero,
  #dashboard-wrapper .dashboard-share {
    width: 26%;
  }
  #dashboard-wrapper .dashboard-leaderboard {
    width: 59%;
  }
  .dashboard-follow li a {
    background-size: cover;
    height: 40px;
    width: 40px;
  }
  .dashboard-follow li#twitter a {
    background-position: -40px 0;
  }
  .dashboard-follow li#instagram a {
    background-position: -80px 0;
  }
  .dashboard-follow li#google a {
    background-position: -120px 0;
  }
  .dashboard-hero .views-field-title a,
  .dashboard-spotlight .views-field-field-spotlight-title a {
    font-size: 15px;
  }
  .dashboard-leaderboard .tabset li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 769px) {
  #content-column {
    width: 67%;
    margin: 0 5% 0 0;
    float: left;
  }
  .no-sidebars #content-column,
  .full-width #content-column {
    float: none;
    width: 100%;
  }
  #secondary-content-wrapper h2 {
    font-size: 3.25em;
    max-width: 100%;
  }
  .page-node-register #content-column {
    width: 100% !important;
  }
  .sidebar-first .region-sidebar-first {
    margin: 0 !important;
    float: left !important;
    width: 25% !important;
  }
  .sidebar-first .content-inner {
    margin-right: 0 !important;
  }
  .node-type-product .sidebar-first .content-inner {
    margin-right: 3% !important;
  }
  .nav li a,
  .nav ul.menu li a {
    font-size: 94%;
  }
  .leaderboard-link a {
    font-size: 22px;
  }
  .panels-flexible-row-inside {
    max-width: 760px;
  }
  .view-landing-page-slideshows .flexslider {
    margin: 20px auto 0;
    transform: scale(0.7);
  }
  .view-landing-page-slideshows .flexslider .views-field-body,
  .view-landing-page-slideshows .flexslider .views-field-field-slideshow-link {
    max-width: 375px;
  }
  .view-landing-page-slideshows .flexslider .views-field-field-image {
    max-width: 350px;
  }
  .panels-flexible-row.nav-icons li {
    margin: 5px 20px 30px;
    transform: scale(0.9);
  }
  .panels-flexible-row.nav-icons a {
    font-size: 19px;
  }
  .panels-flexible-row.actions p,
  .panels-flexible-row.grants p {
    font-size: 18px;
  }
  #block-system-main .panels-flexible-row.resources li {
    margin: 0 18px;
    transform: scale(0.9);
  }
}
@media only screen and (max-width: 988px) {
  .nav {
    margin-left: 0;
  }
  #header.sticky div.block-social {
    margin: 12px 0 0 175px;
  }
  #breadcrumb-wrapper {
    margin: 20px 0 0 10px;
  }
  #footer-wrapper .lemon {
    margin: 0 42%;
  }
  #amm p.completed-above-threshold {
    font-size: 13px;
  }
  .kickit.choose .panels-flexible-region-alsf_campaign_layout-row-halves-2-left-region,
  .kickit.choose .panels-flexible-region-alsf_campaign_layout-row-halves-2-right-region {
    float: none;
    margin: 0 auto;
    max-width: 600px;
    width: 80%;
  }
  #kickit-choose-champions .pane-1:after,
  #kickit-choose-games .pane-1:after {
    border: none;
  }
}
@media only screen and (max-width: 900px) {
  .front #nav-wrapper,
  .not-front #nav-wrapper {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 1001;
  }
  #header #alsf-logo img {
    width: 120px;
  }
  #header div.block-social {
    margin: 15px 0 0 150px;
  }
  #header .block-slogan {
    display: none;
  }
  a#tophat-search-icon {
    right: -40px;
  }
  #secondary-content-wrapper {
    margin-top: 110px;
  }
  #secondary-content-wrapper h1,
  #secondary-content-wrapper h2 {
    margin-left: 160px;
  }
  #tophat-wrapper {
    background: 0 0;
  }
  #leaderboard-wrapper.tiny div.donate {
    margin-right: 0;
  }
  .sidebar-first .region-sidebar-first nav li {
    border-bottom: 1px solid #fff;
  }
  .sidebar-first .region-sidebar-first nav.chevron-menu li,
  .sidebar-first .region-sidebar-first nav li.menu-depth-4 {
    border-bottom: none;
  }
  .region-sidebar-first .menu-block-wrapper > ul.menu {
    padding: 0;
  }
  .section-blog .region-sidebar-first .block-menu-block ul li li,
  .section-about .region-sidebar-first .block-menu-block ul li li,
  .section-newsroom .region-sidebar-first .block-menu-block ul li li,
  .section-how-your-donation-helps .region-sidebar-first .block-menu-block ul li li {
    margin: 0;
    padding: 3px;
  }
  .kickit.choose .panels-flexible-region-alsf_campaign_layout-row-halves-2-left-region,
  .kickit.choose .panels-flexible-region-alsf_campaign_layout-row-halves-2-right-region {
    max-width: 600px;
    width: 80%;
  }
}
@media (max-width: 870px) {
  .region-sidebar-first,
  .sidebar-first .region-sidebar-first,
  #content-column {
    width: 100% !important;
  }
  .menu-block-wrapper {
    padding: 0;
  }
  .menu-block-wrapper:after,
  .chevron:before,
  .chevron:after {
    border: none;
  }
  .menu-block-wrapper,
  .chevron {
    width: auto;
  }
  .chevron .block-inner {
    padding: 30px;
  }
  .region-sidebar-first .block img {
    float: left;
  }
  #grant-application {
    width: 100%;
  }
  #dashboard-wrapper .dashboard-leaderboard {
    width: 56%;
  }
  #dashboard-wrapper .dashboard-spotlight,
  #dashboard-wrapper .dashboard-hero,
  #dashboard-wrapper .dashboard-share {
    width: 25%;
  }
  #dashboard-wrapper .dashboard-thermometer {
    width: 89%;
  }
}
@media only screen and (max-width: 800px) {
  .panels-flexible-flexible_special_event_layout .logo-bg .block-inner {
    float: none;
    margin: 0 auto;
  }
  .panels-flexible-flexible_special_event_layout .pane-custom.event-date.mobile {
    max-width: 330px;
  }
  .panel-flexible .panel-separator {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .full-width #campaign-banner-block h2,
  #secondary-content-wrapper h2 {
    font-size: 3.5em;
    padding-top: 0.675em;
  }
  #content #dashboard-wrapper .tabset-responsive #month-tab,
  #content #dashboard-wrapper .tabset-responsive #day-tab {
    border: 1px solid #0297ad;
    margin-top: 0;
  }
  .leaderboard-link ul li ul {
    display: block !important;
    top: 1.8em !important;
  }
  #columns {
    padding: 0 20px 76px;
  }
  .block-breadcrumb {
    font-size: 82%;
  }
  body.full-width .breadcrumb {
    padding: 0 20px;
  }
  body.full-width .breadcrumb {
    padding: 0 20px;
  }
  .tabset-responsive .leaderboard-entry {
    width: 90%;
  }
  .footer-enews h2,
  .footer-enews p {
    text-align: center;
  }
  .footer-enews h2:before {
    position: relative;
    left: -5px;
    margin-top: 1px;
  }
  .signOut > p {
    margin: 10px auto 20px !important;
    float: none !important;
  }
  .footer-enews input#newsletter_email {
    font-size: 17px;
  }
  .view-alsf-account-sponsorships table {
    width: 90%;
  }
  .view-alsf-account-sponsorships .views-field-field-datetime {
    display: none;
  }
  #top-leaders-leaderboard-link {
    clear: both;
    float: none;
    margin: 0 auto;
    padding-top: 80px;
  }
  .soclose-item {
    margin: 0 10px 20px;
    width: 30%;
  }
  .view-amm-childhood-cancer-teams .views-row {
    background: url(../images/amm/awareness-ribbon.png) 96% 40% no-repeat #e6f9fc;
  }
  #kickit-choose-games .pane-1,
  #kickit-choose-champions .pane-1 {
    margin: 0 auto;
    max-width: 600px;
  }
  .node-type-page.kickit.choose #kickit-choose-champions .pane-1:after,
  .node-type-page.kickit.choose #kickit-choose-games .pane-1:after {
    top: 100%;
    left: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #fcea6c;
    border-width: 63px;
    margin-left: -67px;
    margin-top: -5px;
    border: none;
  }
  .choose-sport {
    margin-left: 0;
  }
  .leaderboard-link a {
    font-size: 23px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 641px) {
  #secondary-content-wrapper h2,
  #secondary-content-wrapper h1 {
    font-size: 39px !important;
    margin-top: 48px !important;
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  #header.shrink #alsf-logo {
    background: 0 0 !important;
  }
  a#tophat-search-icon,
  .mobile-hide {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
  .mobile-body-text {
    box-sizing: content-box;
    clear: both;
    display: block;
    float: none;
    max-width: none;
  }
  .mobile-body-action {
    box-sizing: content-box;
    clear: both;
    display: block;
    float: none;
    margin-left: 0;
    margin-bottom: 15px;
    max-width: none;
    text-align: center;
  }
  .mobile-body-top {
    box-sizing: content-box;
    clear: both;
    display: block;
    float: none;
    margin-left: 0;
    margin-bottom: 15px;
    max-width: none;
    text-align: center;
  }
  :target:before {
    height: 166px !important;
    margin: -116px 0 0 !important;
  }
  h1#page-title {
    font-size: 1.75em;
  }
  #header div.block-social {
    margin: 17px 0 0 125px;
  }
  #header.shrink #alsf-logo img,
  #alsf-logo {
    height: auto;
  }
  #header #alsf-logo img {
    display: block !important;
    height: auto !important;
  }
  #alsf-logo a {
    display: block;
    height: 90px;
  }
  .container {
    max-width: 100% !important;
  }
  .sidr-open #sidr-wrapper-0,
  .sidr-open #sidr-0-button {
    left: 271px !important;
    overflow: hidden;
  }
  #tophat-user-greeting,
  .lemon,
  .slogan {
    display: none;
  }
  a#tophat-search-icon,
  .region-tophat #block-search-form .form-submit {
    display: none;
  }
  .region-tophat {
    padding: 0;
  }
  .leaderboard-link a {
    border-left: none !important;
  }
  .region-tophat li.leaf {
    font-size: 12px;
    margin: 15px 7px;
    padding: 0;
  }
  #nav-wrapper,
  #header-wrapper,
  #leaderboard-wrapper {
    width: 100%;
  }
  #leaderboard-wrapper.tiny div.bag a {
    padding: 0;
  }
  header#header,
  header#header .region-header {
    width: 100%;
  }
  .sidebar-first .content-inner {
    margin-right: 0 !important;
  }
  .field-name-what-s-going-on {
    margin: 0 15px;
  }
  div.radio-button-images div.form-item label span.radio-option.radio-option-custom {
    background-position: 50% 50%;
  }
  .region-sidebar-first .block-menu-block:before {
    border-top: 1px solid #ddd;
    content: "Explore this section:";
    display: block;
    padding: 12px 10px;
    text-transform: capitalize;
  }
  .region-sidebar-first .block-menu-block.chevron-menu:before {
    border: none;
    content: "";
  }
  .chevron-menu:after {
    border: none;
  }
  .event-details-wrapper .call-to-action,
  .event-badge {
    float: none;
    margin: 0 0 6px;
    text-align: center;
  }
  .event-details-wrapper .call-to-action a.call-to-action-signupnextyear,
  .event-details-wrapper .call-to-action a.call-to-action-mypage,
  .event-details-wrapper .call-to-action a.call-to-action-registernow {
    display: block;
    margin: 10px 0;
  }
  .full-width .event-details strong {
    width: auto !important;
  }
  .section-campaign #content-column .content-inner #main-content #block-system-main .field-name-body .campaign-nav {
    padding: 20px 0;
    width: 100% !important;
  }
  .full-width .ribbon,
  .page-node-1121949 .ribbon {
    float: none;
    text-align: center;
  }
  #content .campaign-description .field-name-body {
    float: none;
  }
  .campaign-description .field-name-body p {
    clear: both;
  }
  .section-campaign #content-column .content-inner #main-content #block-system-main .field-name-body h3 {
    width: 100% !important;
  }
  .page-user .logout {
    float: none;
    margin: 15px 0;
  }
  .alsf-responsive-tabs-processed.r-tabs {
    border: none;
  }
  .share-alt #block-sharethis-sharethis-block {
    clear: left;
    float: left;
  }
  .share-alt .sharethis-wrapper {
    margin: -10px 0 20px;
  }
  summary {
    font-size: 17px;
  }
  .not-front #content .fieldset-wrapper h2 {
    font-size: 1.25em;
    margin: 0;
    padding: 15px 0 0;
  }
  #regforms-wrapper-lemon-climb-denver fieldset.existing-team-fieldset {
    padding: 0 10px;
    width: 100%;
  }
  #crm-container .crm-section input[type="text"],
  #crm-container .crm-section input[type="password"],
  #crm-container input[type="text"],
  #crm-container input[type="password"],
  #crm-container select,
  #crm-container .big,
  select.big,
  .contact-form #edit-name,
  .contact-form #edit-mail,
  .contact-form #edit-subject,
  input.password-confirm,
  input.password-field,
  input.form-text,
  .js-select option,
  .js-select select,
  textarea.form-textarea,
  select {
    width: 90%;
  }
  #crm-container .first_name-section input.form-text,
  #crm-container .last_name-section input.form-text,
  #crm-container .current_employer-section input.form-text,
  #crm-container .street_address-1-section input.form-text,
  #crm-container .city-1-section input.form-text,
  #crm-container .state_province-1-section input.form-text,
  #crm-container .phone-Primary-1-section input.form-text {
    width: 82%;
  }
  div#crm-container .content.contribution_amount-content span.price-set-label {
    border-bottom: 1px dashed #145ecc;
    padding-bottom: 5px;
  }
  .subnavigation input.registration-step.current-step:hover,
  .subnavigation input.registration-step.current-step {
    margin-top: 0 !important;
  }
  #footer-wrapper .lemon {
    margin: 0 36.5%;
  }
  .campaign-description p.event-details {
    width: 100%;
  }
  .page-node .node-product .group-right,
  .page-node .node-taxable .group-right {
    width: 100%;
  }
  .promo-block-wrapper {
    margin: 0 auto 30px;
  }
  .edit-qty {
    width: 45px;
  }
  #nav-wrapper .container {
    padding: 0;
  }
  .view-grants-slideshow .views-field-field-slideshow-text {
    width: 100%;
    display: block;
  }
  .view-grants-slideshow .views-field-field-image {
    width: 100%;
    display: block;
    margin-top: 0;
  }
  .grants-home .field-name-body h2 em {
    font-size: 18px;
  }
  .grants-home .views-field-field-featured-block-caption,
  .not-front.grants-home p {
    font-size: 14px;
    line-height: 130%;
  }
  .grants-home .views-field-field-featured-block-caption .field-content {
    padding: 0 0 10px;
  }
  .grants-home .how-helping .description {
    margin-top: 0;
    max-width: 100%;
  }
  .view-home-hero .views-field-teaser {
    width: 70% !important;
  }
  .section-alsf-special-events th,
  .section-alsf-special-events td {
    font-size: 14px;
  }
  .full-width #campaign-banner-block h2,
  .page-node-1121949 #campaign-banner-block h2 {
    font-size: 37px;
  }
  #alsf-pfp-donate-search-form .js-button {
    margin: 0;
  }
  .fundraiser-search-preview.donate-page {
    margin: 0 0 0 -20px;
    padding: 10px 0;
  }
  #dashboard-wrapper .dashboard-leaderboard,
  #dashboard-wrapper .dashboard-quote,
  #dashboard-wrapper .dashboard-follow,
  #dashboard-wrapper .dashboard-help {
    width: 88%;
  }
  #amm .campaign-info {
    clear: left;
    margin: 30px 0 0;
    width: 100%;
  }
  .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region {
    width: 100%;
  }
  #amm .panels-flexible-region-3-center {
    width: 100%;
  }
  #amm .event-details,
  .panels-flexible-3 .panels-flexible-region-inside,
  .panels-flexible-3 .panels-flexible-region {
    padding: 0;
  }
  .panels-flexible-row.row-full-6 .inside {
    padding-bottom: 0;
  }
  .amm-nav li {
    margin: 0 22px 40px;
    max-width: 115px;
  }
  #amm .below-fold .inside {
    padding: 0 2%;
  }
  #block-system-main #amm .nav-buttons li {
    margin: 0 20px 30px;
    max-width: 120px;
  }
  #amm .nav-buttons li img {
    margin: 0 auto 10px;
  }
  .node-type-campaign #main-content #amm .row-full-6 h3 {
    font-size: 1.3em;
    margin: 0 0 15px;
  }
  #amm .row-full-6 .left,
  #amm .row-full-6 .right {
    float: none;
    padding: 0 5% 15px;
    width: 90%;
  }
  .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-full-1 {
    padding: 0 10px;
  }
  .soclose-item {
    margin: 0 10px 10px;
    width: 70%;
    border-bottom: 1px dashed #145ecc;
    padding-bottom: 30px;
  }
  #amm .completed-above-threshold,
  #amm .completed-below-threshold {
    font-size: 13px;
    margin-top: 7px !important;
  }
  #campaign-total span,
  #amm .completed-above-threshold,
  #amm .completed-below-threshold span {
    font-size: 23px;
  }
  #top-leaders-slides,
  #top-leaders-slides li.flex-active-slide {
    float: none;
    margin: 0 auto;
    width: 300px !important;
  }
  #top-leaders-slides li li {
    clear: left;
    margin: 0 20px 30px;
  }
  .node-type-campaign #main-content .pane-campaign-soclose h2 {
    font-size: 22px;
    margin: 20px 0;
  }
  .node-type-campaign #main-content #top-leaders-slides h2 {
    font-size: 24px;
    padding: 3px 3px 0;
    text-align: center;
  }
  .node-type-campaign #main-content #top-leaders-slides h2:before,
  .node-type-campaign #main-content #top-leaders-slides h2:after {
    border: none;
  }
  .view-fundraiser-location-search .views-exposed-form .views-exposed-widget .form-submit {
    margin: 6px 0 0;
  }
  #amm .panels-flexible-row.row-full-7,
  #amm .pane-campaign-activity,
  .view-heroes td.views-field-field-image,
  .leaderboard-link .bag,
  th.views-field-field-special-event-image,
  td.views-field-field-special-event-image,
  .section-alsf-special-events th.views-field-body,
  .section-alsf-special-events td.views-field-body {
    display: none !important;
  }
  #giving-tuesday .panels-flexible-row-inside {
    max-width: 93%;
  }
  .pane-campaign-fundraising-progress {
    margin: 0 auto;
    max-width: 95%;
  }
  .panel-pane .field-name-field-badge {
    max-width: 95%;
  }
  .node-type-campaign #main-content .field-name-body h2:first-of-type {
    font-size: 1.4em;
  }
  .node-type-campaign #main-content .field-name-body h2:last-of-type {
    font-size: 1.4em;
  }
  .panels-flexible-row.row-full-6 .inside {
    padding: 0;
  }
  .panels-flexible-alsf_campaign_layout#giving-tuesday .row-halves-2 {
    margin-top: -8%;
  }
  #giving-tuesday table.sponsors td:first-of-type {
    text-align: center;
  }
  #giving-tuesday table.sponsors td img {
    max-width: 200px !important;
  }
  #giving-tuesday .row-full-6 {
    margin: -30px 0 -20px;
    padding: 0 0 50px !important;
  }
  #taylor .panels-flexible-alsf_campaign_layout .panels-flexible-row {
    padding: 0;
  }
  #taylor .row-full-1 {
    padding: 7% 0 0;
  }
  #taylor .panels-flexible-region .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region-inside,
  #taylor .panels-flexible-region-alsf_campaign_layout-row-full-1-full-region-inside,
  #taylor .panels-flexible-region-alsf_campaign_layout-row-full-3-full-region-inside {
    padding: 3% 20px;
  }
  #taylor .row-full-3 .panels-flexible-row-inside p.donation-note {
    padding: 1em 0;
  }
  #taylor .row-full-1 iframe {
    height: 300px;
  }
  .panels-flexible-alsf_campaign_layout#get-involved .panels-flexible-row.row-full-1 {
    padding: 0;
  }
  #get-involved .row-full-1 .pane-1 .block-inner {
    background: transparent;
    padding: 20%;
  }
  #get-involved .row-full-1 .pane-1 .block-inner .block-content {
    display: none;
  }
  #get-involved .row-full-2 .pane-2 .block-inner {
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
  #get-involved .panels-flexible-region-alsf_campaign_layout-row-full-2-full-region {
    background: #003595;
    width: 100%;
  }
  #get-involved .row-full-2 .pane-2 .block-inner .block-content {
    padding: 15px;
  }
  .get-involved-intro ul {
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  .get-involved-intro li {
    display: block;
    margin: 0 0 5px;
  }
  .get-involved-intro li a {
    background: #ffc629;
    color: #003595;
    font-size: 15px;
    width: 200px;
  }
  #block-system-main #get-involved .row-full-3 h2 {
    font-size: 18px;
    padding: 15px;
  }
  #get-involved .row-full-2 .pane-2 h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 0.2em;
  }
  #block-system-main #get-involved .row-full-3 li {
    display: block;
    margin: 0 2em 2em;
    width: auto;
  }
  #block-system-main #get-involved .row-full-3 li img {
    width: 200px;
  }
  .view-races td,
  .view-races td.views-field-field-dates {
    float: left;
    max-width: 100%;
    text-align: center;
    width: 94% !important;
  }
  .view-races span.date-display-end {
    display: inline;
  }
  .view-races td.views-field-field-image,
  .view-races td.views-field-field-image img {
    margin: 10px 5px 0;
    width: 150px;
  }
  .view.view-races td.views-field-field-dates,
  .view.view-races td.views-field-field-address {
    padding: 5px;
  }
  .view.view-races td.views-field-field-text {
    padding-top: 0;
  }
  .view.view-races td.views-field-field-address {
    padding-bottom: 20px;
    text-align: center;
  }
  .node-type-alsf-race.team-lemon .field-name-field-address-geofield {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .node-type-alsf-race.team-lemon .field-name-field-address-geofield .leaflet-container {
    height: 180px !important;
  }
  .node-type-alsf-race.team-lemon .field-name-field-dates,
  .node-type-alsf-race.team-lemon .field-name-field-address,
  .node-type-alsf-race.team-lemon .field-name-field-registration-deadline,
  .node-type-alsf-race.team-lemon .region-two-66-33-first .alsf_race_inquirelink {
    width: 100%;
  }
  .field-name-field-learn-more-link,
  .team-lemon .field-name-field-image {
    text-align: center;
  }
  .field-name-byo-option,
  .field-name-about-team-lemon {
    max-width: 100%;
  }
  #inquiry-form-wrapper {
    width: auto;
  }
  #inquiry-form-sidebar {
    display: none;
  }
  #edit-authorize-fields #edit-expiration .form-item.form-item-expiration-month {
    margin-right: 3px;
  }
}
@media only screen and (max-width: 715px) {
  .page-contribute #secondary-content-wrapper h1 {
    font-size: 35px !important;
    width: 60%;
  }
  #header div.block-social {
    display: none;
  }
}
@media only screen and (max-width: 690px) {
  #dashboard-wrapper .dashboard-spotlight,
  #dashboard-wrapper .dashboard-hero,
  #dashboard-wrapper .dashboard-share {
    float: left;
    height: 270px;
    margin: 0 10px 10px;
    width: 80%;
  }
  .dashboard-thermometer a {
    font-size: 15px;
    margin: 0 0 15px;
  }
  #mmr-thermometer-h-tube,
  #mmr-thermometer-h-complete,
  #mmr-thermometer-h-incomplete,
  #mmr-thermometer-h-increments {
    height: 45px;
  }
  #mmr-thermometer-h-overlay.goal-not-reached {
    background-size: cover;
    height: 80px;
    margin-top: -20px;
    width: 80px;
  }
  #dashboard-wrapper .dashboard-thermometer,
  #dashboard-wrapper .dashboard-leaderboard,
  #dashboard-wrapper .dashboard-quote,
  #dashboard-wrapper .dashboard-follow,
  #dashboard-wrapper .dashboard-help,
  .dashboard-thermometer {
    float: left;
    width: 80%;
    margin: 0 10px 10px;
  }
  .completed-above-threshold,
  .completed-below-threshold {
    font-size: 14px;
    margin-top: 4px !important;
  }
  .completed-above-threshold span,
  .completed-below-threshold span {
    font-size: 18px;
  }
  .mmr-thermometer-h-increment {
    height: 10px;
  }
  .view-amm-childhood-cancer-teams .views-field-title {
    font-size: 1.5em;
  }
  .panels-flexible-region-2-left_column,
  .not-front.grants-home #content .region-two-50-second,
  .not-front.grants-home #content .region-two-50-first,
  .not-front.grants-home #content .panels-flexible-region-78-left_column {
    width: 90%;
  }
  .not-front.grants-home #content .region-two-50-second {
    border: none;
  }
  .grants-home .how-helping {
    margin-left: 0;
  }
  .ui-widget-content.achievement-notification-dialog {
    background: #145ecc;
    height: 100% !important;
    margin: 0 0.6em;
    max-width: 100%;
    top: 0 !important;
  }
  .achievement-notification-dialog .achievement-notification {
    overflow: visible;
  }
  .achievement-image {
    display: table;
    float: none;
    height: 40%;
    padding: 10% 0;
    width: 100%;
  }
  .achievement-image img {
    display: table;
    height: auto;
    margin: 0 auto;
  }
  .achievement-header {
    float: none;
    margin: 20px auto 10px;
    width: 100%;
  }
  .page-team-lemon-races .view-races .view-display-id-attachment_1,
  .node-alsf-race .field-name-field-address-geofield {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  #header #alsf-logo {
    width: 110px;
  }
  .pane-block .view-our-partners.view-display-id-block_10m .views-row {
    width: 35%;
  }
  .region-leaderboard {
    margin-top: 0;
  }
  .page-contribute #secondary-content-wrapper h1 {
    height: 145px;
    width: 90%;
  }
  .view-landing-page-slideshows .flexslider .views-field-field-image {
    float: none;
  }
  .view-landing-page-slideshows .flexslider .views-field-body,
  .view-landing-page-slideshows .flexslider .views-field-field-slideshow-link {
    max-width: 100%;
  }
}
@media only screen and (max-width: 639px) {
  body.full-width .breadcrumb {
    padding: 0 15px;
  }
  .view-home-hero .views-field-teaser.more-link {
    margin-top: 15px;
    text-align: center;
    width: 100% !important;
  }
  .region-alsf-row-4-left .region-inner {
    margin: 0 15px;
  }
  #footer-wrapper .lemon {
    display: none;
  }
  #footer-wrapper {
    padding: 20px 0;
  }
  .page-civicrm-contribute td.recaptcha_label {
    display: none;
  }
  #recaptcha_widget_div {
    transform: scale(0.7);
    transform-origin: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .fundraiser-search-preview li {
    width: 100%;
  }
  .fundraiser-search-preview.donate-page li {
    width: 90%;
  }
  .sponsors td,
  .view-albums td,
  .field-name-body td {
    border-left: none !important;
    border-right: none !important;
    float: left;
    padding: 5px 7px 0 !important;
    width: 90%;
  }
  .field-name-body #other-ways-to-give td {
    float: none;
    width: 50%;
    padding: 15px !important;
  }
  #other-ways-to-give td:first-child {
    border-right: 2px solid #ddf3f6 !important;
  }
  .field-name-body tr td:last-child {
    padding-bottom: 5px;
  }
  .section-alsf-special-events .field-name-body td {
    float: none;
  }
  .field-name-body th {
    display: none;
  }
  .float-left,
  .float-right {
    float: none !important;
    margin: 0 auto 15px !important;
    padding: none !important;
    text-align: center;
  }
  ul.two-columns,
  ul.three-columns {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
  #grant-resources-right {
    margin-left: 0;
    width: 100%;
  }
  .view-amm-childhood-cancer-teams .views-row {
    background: #e6f9fc;
  }
  .view-amm-childhood-cancer-teams .views-field-body {
    max-width: 100%;
  }
  .node-type-campaign #main-content h1,
  .node-type-campaign #main-content h2 {
    font-size: 1.5em;
  }
  .team-lemon #secondary-content-wrapper h1 {
    width: 260px;
  }
  #edit-authorize-fields .form-item.form-item-cvv {
    clear: left;
  }
}
@media only screen and (max-width: 600px) {
  .desktop-hide {
    display: block !important;
  }
  .mobile-hide-600 {
    display: none !important;
  }
  #leaderboard-wrapper {
    border-bottom: 2px solid #003c73;
    width: 100%;
  }
  .leaderboard-link a {
    height: auto !important;
    font-size: 22px;
    padding: 10px 5px;
    margin: 0 14px !important;
  }
  #leaderboard-wrapper .container {
    height: auto;
    margin: 15px auto 0;
  }
  #leaderboard-wrapper.tiny .container {
    margin: 0;
  }
  .view-home-hero .views-field-teaser {
    width: 65% !important;
  }
  .more-link {
    text-align: left;
  }
  #header.shrink #alsf-logo,
  #header #alsf-logo {
    width: 85px;
  }
  #nav-wrapper {
    height: auto;
  }
  #footer-wrapper .lemon {
    margin: 0 32%;
  }
  #grant-guidelines-intro {
    background: 0 0;
  }
  #grant-application-left,
  #grant-application-right {
    border: none;
    margin: 0 0 10px;
    padding: 10px 20px;
    width: 90%;
  }
  .view-amm-childhood-cancer-teams .views-row {
    padding: 5% 5% 7%;
  }
  .soclose-item {
    width: 80%;
  }
  #taylor .row-full-1 iframe {
    height: 200px;
  }
  .section-grants .panels-flexible-region-27-left_column {
    width: 100%;
  }
  .page-taxonomy-term.section-grants h3 div:before {
    display: block;
    content: " ";
    margin-top: -95px;
    height: 95px;
    visibility: hidden;
  }
  .section-where-money-goes .panels-flexible-region-27-left_column {
    width: 100%;
  }
  .node-type-grant-application .field.field-name-field-image {
    float: none;
  }
}
@media screen and (max-width: 540px) {
  .grants-home .program-earlycareer,
  .grants-home .program-accelerator,
  .grants-home .program-quality {
    float: none;
    width: 90% !important;
    margin: 0 5% !important;
    max-width: none;
  }
  .not-front.grants-home #content .region-two-50-first .region-inner,
  .not-front.grants-home #content .region-two-50-second .region-inner {
    padding: 0;
  }
  .not-front.grants-home #content .region-two-50-first h3,
  .not-front.grants-home #content .region-two-50-second h3 {
    padding-bottom: 30px;
    font-size: 21px;
  }
  .view-grants-slideshow .grant-applicant-link-wrapper {
    float: none;
    margin: 20px auto 0;
    position: relative;
  }
  .view-grants-slideshow .grant-families-wrapper,
  .view-grants-slideshow .grant-recipient-link-wrapper {
    float: none;
  }
  .grants-landing-page-block-header a {
    float: left;
    margin-top: -47px;
  }
  .not-front.grants-home #content .region-two-50-second {
    border: 0 solid #fff;
  }
  .not-front.grants-home #content .panels-flexible-region-76-left_column {
    width: 100%;
  }
  .grants-home .field-name-travel-fund-program li {
    text-align: center;
    width: 100%;
  }
  .leaderboard table,
  .leaderboard th,
  .leaderboard tr {
    font-size: 14px !important;
  }
  #dashboard-wrapper .dashboard-spotlight,
  #dashboard-wrapper .dashboard-hero,
  #dashboard-wrapper .dashboard-share {
    float: left;
    height: 270px;
    margin: 0 10px 10px;
    width: 80%;
  }
  .view-amm-childhood-cancer-teams .views-row {
    padding: 8% 8% 10%;
  }
  .mobile-body-top img {
    min-width: 100%;
  }
  .team-lemon .form-item-athlete-phone,
  .team-lemon .form-item-athlete-city,
  .team-lemon .form-item-athlete-first-name,
  .team-lemon .form-item-athlete-last-name {
    margin: 0 0 1em;
    width: 90%;
  }
  .team-lemon .form-item-athlete-t-shirt {
    clear: left;
    margin: 0;
  }
  .node-type-campaign.full-width .regstep_donate .address-options .form-type-radio:last-child {
    width: 87%;
  }
}
@media only screen and (max-width: 480px) {
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
  #leaderboard-wrapper .container {
    margin: 1px 0 -1px;
    max-width: 85%;
  }
  .leaderboard-link a {
    font-size: 18px;
    margin: 0 8px !important;
  }
  .region-leaderboard .region-inner {
    max-width: 99%;
  }
  #dashboard-wrapper h2 {
    font-size: 1.8em;
    padding: 10px 10px 5px;
  }
  #dashboard-wrapper .dashboard-thermometer h3 {
    margin: 0;
  }
  .dashboard-leaderboard .tabset {
    margin-top: 0;
  }
  .view-fundraiser-location-search thead,
  .leaderboard-number {
    display: none;
  }
  .view-fundraiser-location-search td,
  .page-staff td {
    float: left;
    width: 100%;
  }
  #crm-container .custom_29-section {
    max-width: 200px;
  }
  .block-menu-tophat-menu li:nth-of-type(5),
  .block-menu-tophat-menu li:nth-of-type(6),
  .block-menu-tophat-menu li:nth-of-type(7) {
    display: none;
  }
  .node-type-sponsor .field-name-field-sponsor-page-logo {
    margin: 5px 0 10px 15px;
    width: 40%;
  }
  .cccc-cta p a {
    font-size: 18px;
    padding: 10px 0;
  }
  .page-search .search-form.google-cse .js-button {
    clear: left;
    margin: -10px 0 20px;
  }
  #crm-container fieldset legend,
  fieldset legend {
    font-size: 24px;
    line-height: 130%;
  }
}
@media only screen and (max-width: 439px) {
  .slogan {
    display: none;
  }
  .block-social {
    width: 100%;
    margin: 0 auto !important;
    clear: both;
  }
  #header.sticky .social {
    margin: 55px auto 0;
  }
  .region-footer #contact {
    width: 240px;
    height: 38px;
    background-size: 240px 38px;
  }
  .region-footer #contact a {
    font-size: 26px;
    line-height: 40px;
    margin: 20px 60px 0 30px;
  }
  .page-civicrm-contribute .recaptcha-section td {
    max-width: 230px !important;
  }
  #block-system-main .pane-block .view-our-partners .item-list ul {
    column-count: 1;
  }
}
@media only screen and (max-width: 420px) {
  .block-menu-tophat-menu li:nth-of-type(4) {
    display: none;
  }
}
@media only screen and (max-width: 379px) {
  .leaderboard-link a {
    font-size: 14px;
    padding: 9px 0 8px;
  }
  #block-block-220 div div {
    width: auto !important;
  }
  .grants-home .program-earlycareer li a,
  .grants-home .program-accelerator li a,
  .grants-home .program-quality li a {
    font-size: 12px;
  }
  #header.shrink #alsf-logo,
  #header #alsf-logo {
    width: 74px;
  }
  .full-width #campaign-banner-block h2,
  .page-node-1121949 #campaign-banner-block h2 {
    font-size: 29px;
  }
  .view-amm-childhood-cancer-teams .views-field-title {
    font-size: 1.25em;
  }
  .view-amm-childhood-cancer-teams .views-field-nothing {
    display: block;
    margin-top: 15px;
  }
  .view-alsf-account-sponsorships th,
  .view-alsf-account-sponsorships td {
    font-size: 13px;
    line-height: 130%;
  }
  #leaderboard-wrapper #sidr-0-button {
    right: 5px;
  }
  #leaderboard-wrapper .region-leaderboard,
  #leaderboard-wrapper.tiny .region-leaderboard {
    margin-right: -5px;
  }
  #crm-container fieldset legend,
  fieldset legend {
    font-size: 21px;
  }
}
