.not-front.grants-home #content .region-two-50-first,
.not-front.grants-home #content .region-two-50-second {
  width: 49% !important;
}
.page-node-1121949 .video {
  float: left;
  margin: 0 0 20px;
  width: 74%;
}
.section-campaign #content-column .content-inner #main-content #block-system-main .field-name-body .campaign-nav {
  width: 33%;
}
