.region-sidebar-first {
  margin-top: -50px;
}
.region-sidebar-first h2 {
  font-size: 1.625em;
  color: #3e58aa;
  margin: 0 0 8px;
}
.region-sidebar-first .event-search h2,
.region-sidebar-first .ways-to-give h2 {
  color: #003595;
  margin: 0 0 15px 12px;
}
.region-sidebar-first .event-search .block-content {
  border-top: 1px solid #ffdab2;
  margin: 0 12px;
}
.region-sidebar-first .event-search {
  margin-bottom: 30px;
}
.region-sidebar-first .ways-to-give .block-content {
  background: #fff;
  color: #5c5c5c;
  font-size: 15px;
  line-height: 130%;
  display: inline-block;
  padding: 0 12px;
}
.region-sidebar-first .ways-to-give dl#phone {
  border-top: 1px solid #ffdab2;
  padding-top: 15px;
}
.region-sidebar-first .ways-to-give dl {
  border-bottom: 1px solid #ffdab2;
  clear: left;
  float: left;
  padding: 0 0 15px;
  width: 100%;
  margin: 0 0 14px;
}
.region-sidebar-first .ways-to-give dd {
  float: left;
  width: 80%;
  margin: 0;
}
.region-sidebar-first .ways-to-give a {
  color: #039eba;
  font-size: 17px;
  font-weight: 700;
}
.region-sidebar-first .block img {
  float: left;
  margin: 0 10px 10px 0;
}
.region-sidebar-first #block-block-303 .block-content {
  background: #fff8ca;
  padding: 12px;
}
.region-sidebar-first #block-block-303 .block-content ul {
  margin: 7px;
  padding: 0;
}
.region-sidebar-first #block-block-303 .block-content ul li {
  margin-bottom: 7px;
  margin-left: 15px;
  line-height: 15px;
  font-weight: 700;
}
.region-sidebar-first .block-menu-block {
  margin: 0 0 40px;
}
.region-sidebar-first .block-menu-block ul ul ul {
  margin: 0;
}
.region-sidebar-first .block-menu-block ul li {
  list-style: none;
  padding: 0;
}
.region-sidebar-first .block-menu-block.cccc-menu ul li a,
.region-sidebar-first .parent-mlid-0 li:first-child a.active-trail li a.active-trail,
.region-sidebar-first .block-menu-block ul li li a,
.section-about .region-sidebar-first .block-menu-block ul li li a {
  background: 0 0 !important;
  color: #003595;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  padding: 10px;
  display: block;
  margin: 0 !important;
  text-transform: none !important;
}
.region-sidebar-first .block-menu-block ul li li ul {
  display: none;
}
.region-sidebar-first .block-menu-block ul li.active {
  background: #c9ecfa;
}
.region-sidebar-first .block-menu-block li#partners-menu ul li li li a.active-trail,
.region-sidebar-first .block-menu-block li#partners-menu ul li.active-trail.menu-depth-3 ul {
  background: 0 0 !important;
}
.region-sidebar-first .block-alsf-promos-3 {
  background: #c9ecfa;
  padding: 20px 15px 0 20px;
  margin: 0 0 20px;
}
#block-menu-block-2 ul li li ul {
  display: block;
}
.region-sidebar-first .block-menu-block ul li li.active-trail ul {
  display: block;
  margin-bottom: 6px;
}
.region-sidebar-first .block-menu-block ul li li li a.active-trail,
.region-sidebar-first .block-menu-block ul li li li a {
  padding: 4px 10px 4px 25px;
  font-size: 15px !important;
}
.region-sidebar-first .block-menu-block ul li li li li a.active-trail,
.region-sidebar-first .block-menu-block ul li li li li a {
  padding: 4px 10px 4px 40px !important;
}
.region-sidebar-first .block-menu-block ul li li li a:hover span,
.region-sidebar-first .block-menu-block ul li li li span:hover,
.region-sidebar-first .block-menu-block ul li li li a:hover,
.region-sidebar-first .block-menu-block ul li li li a.active-trail {
  background: #edd327 !important;
}
.region-sidebar-first .parent-mlid-0 li:first-child a.active-trail:hover {
  background: 0 0 !important;
}
.section-about .region-sidebar-first .parent-mlid-0 li a:hover,
.section-about .region-sidebar-first .parent-mlid-0 li a.active-trail:hover {
  background: #c9ecfa !important;
}
.region-sidebar-first .grants-search-block .block-content {
  background: #437ed6;
  float: left;
  padding: 0;
  width: 100%;
}
.region-sidebar-first .grants-search-block .block-content input[type="text"],
.region-sidebar-first .grants-search-block.block-content select {
  color: #444;
  max-width: 260px;
  padding: 6px;
  width: 90%;
}
.region-sidebar-first .grants-search-block .block-content ul {
  margin: 0;
  padding: 0;
}
.region-sidebar-first .grants-search-block .block-content ul li {
  list-style: none;
}
.region-sidebar-first .grants-search-block .block-content ul li a {
  color: #fff;
  letter-spacing: 1px;
}
.region-sidebar-first #block-block-284 h4 {
  color: #ff8400;
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0 5px;
  padding: 0;
  text-transform: uppercase;
}
.region-sidebar-first #block-block-284 p {
  color: #ff8400;
  font-style: italic;
}
.region-sidebar-first #block-block-281 p {
  color: #3e58aa;
  font-size: 90%;
}
.region-sidebar-first .block-menu-block h2.block-title,
.region-sidebar-first .menu-block-wrapper > ul.menu {
  font-size: 18.5px;
  font-weight: 700;
  text-transform: none;
}
.region-sidebar-first .block-menu-block h2.block-title {
  padding: 60px 24px 6px;
}
.region-sidebar-first .menu-block-wrapper > ul.menu {
  margin-top: 6px;
  padding: 25px 15px;
}
.region-sidebar-first li.menu-depth-1 a.active {
  display: block;
  padding: 10px;
}
.menu-block-wrapper {
  background: #edf7fd;
  padding-bottom: 39px;
}
.menu-block-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 152px 40px;
  border-color: transparent transparent #fff transparent;
  margin-top: -40px;
}
.section-blog .region-sidebar-first .block-menu-block ul.menu li.menu-depth-3 a,
.section-how-your-donation-helps .region-sidebar-first .block-menu-block ul.menu li.menu-depth-3 a,
.section-newsroom .region-sidebar-first .block-menu-block ul.menu li.menu-depth-3 a {
  color: #003595;
  font-size: 18px;
  font-weight: 600;
  padding: 13px 10px 13px 58px;
}
.node-type-blog-post .region-sidebar-first .block--exp-alsf-blog-page {
  margin-top: 30px;
}
.section-blog .region-sidebar-first .parent-mlid-0 li:first-child a.active-trail,
.section-how-your-donation-helps .region-sidebar-first .parent-mlid-0 li:first-child a.active-trail,
.section-newsroom .region-sidebar-first .parent-mlid-0 li:first-child a.active-trail {
  color: #003595;
  padding: 13px 10px 13px 58px;
}
.section-blog .region-sidebar-first .block-menu-block ul.menu li a.active,
.section-how-your-donation-helps .region-sidebar-first .block-menu-block ul.menu li a.active,
.section-about .region-sidebar-first .block-menu-block ul.menu li a.active,
.section-newsroom .region-sidebar-first .block-menu-block ul.menu li a.active {
  color: #003595;
}
.section-blog .region-sidebar-first .block-menu-block ul li li,
.section-newsroom .region-sidebar-first .block-menu-block ul li li,
.section-how-your-donation-helps .region-sidebar-first .block-menu-block ul li li {
  margin: 3px;
  padding: 0;
}
.section-blog .region-sidebar-first .block-menu-block ul li.menu-depth-4 a,
.section-newsroom .region-sidebar-first .block-menu-block ul li.menu-depth-4 a,
.section-how-your-donation-helps .region-sidebar-first .block-menu-block ul li.menu-depth-4 a {
  font-size: 15px !important;
  margin: 0 -3px !important;
  padding: 3px 5px 3px 58px !important;
}
.section-about .region-sidebar-first .block-menu-block ul li li li a.active-trail,
.section-about .region-sidebar-first .block-menu-block ul li li li a {
  padding: 4px 10px 4px 11px !important;
}
.region-sidebar-first .block-menu-block ul li ul li:hover,
.region-sidebar-first .block-menu-block ul li li a :hover,
.region-sidebar-first .block-menu-block ul li li li a:hover,
.region-sidebar-first .block-menu-block ul li li li a:hover span,
.region-sidebar-first .block-menu-block ul li li li span:hover,
.region-sidebar-first .block-menu-block ul li li li a.active-trail:hover {
  background: #c9ecfa !important;
}
.region-sidebar-first .block-menu-block ul li.active-trail ul li:hover {
  background: 0 0 !important;
}
.region-sidebar-first .parent-mlid-0 li:first-child a.active-trail,
.region-sidebar-first .block-menu-block h2.block-title {
  background: #edf7fd !important;
  color: #145ecc;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}
.region-sidebar-first a.active-trail.active-trail {
  color: #003595;
}
.region-sidebar-first .block-menu-block ul li li a:hover,
.region-sidebar-first a:hover,
.region-sidebar-first a.active-trail.active-trail.active {
  color: #145ecc;
}
.region-sidebar-first .block-menu-block ul li li li.active,
.region-sidebar-first .block-menu-block ul li li a .active-trail,
.region-sidebar-first .block-menu-block ul li li li a.active-trail {
  background: 0 0 !important;
}
.section-about .field-name-body blockquote {
  background: #fcf099;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  float: left;
  margin: 0 25px 20px 0;
  padding: 35px 20px 0;
  width: 30%;
}
.section-about .field-name-body blockquote p {
  font-size: 19px;
  font-weight: 700;
  line-height: 120%;
}
.section-about .field-name-body blockquote em {
  display: block;
  font-size: 14px;
  margin-top: 0.5em;
}
#block-views-feature-hero-block {
  background: rgba(185, 207, 240, 0.4);
  padding: 20px 15px;
  margin: 0 0 30px;
}
.region-sidebar-first #block-views-feature-hero-block .view-feature-hero h2 {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#block-views-feature-hero-block .view-header {
  margin: 0 0 20px;
}
#block-views-feature-hero-block .view-feature-hero .views-field-title {
  display: block;
  width: 100%;
  clear: both;
}
#block-views-feature-hero-block .view-feature-hero .views-field-field-image {
  display: block;
  width: 100%;
}
#block-views-feature-hero-block .view-feature-hero img {
  border: 6px solid #fff;
  display: table;
  float: none !important;
  margin: 0 auto 10px;
  text-align: center;
}
#block-views-feature-hero-block .view-feature-hero .views-field-field-teaser {
  clear: both;
  display: block;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  width: 100%;
}
#block-views-feature-hero-block .view-feature-hero .views-field-field-teaser h3 a {
  color: #003595;
}
#block-views-feature-hero-block .view-feature-hero .views-field-nothing {
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0 0;
  text-align: center;
  text-transform: uppercase;
}
#block-views-feature-hero-block .view-feature-hero .views-field-taxonomy-vocabulary-19 {
  display: inline-block;
}
#block-views-feature-hero-block .view-feature-hero h3 {
  margin-top: 0;
}
.view-feature-hero a:hover {
  text-decoration: underline;
}
.sibspot-chevron {
  background: #3aa398;
}
.sibspot-chevron .block-inner {
  padding: 10px 30px 65px;
  text-align: center;
}
.sibspot-chevron p {
  text-align: center;
}
.region-sidebar-first .block.sibspot-chevron img {
  float: none;
}
.sibspot-chevron:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 152px 40px;
  border-color: transparent transparent #3aa398 transparent;
  margin-top: -40px;
  position: absolute;
}
.sibspot-chevron:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 152px 40px;
  border-color: transparent transparent #fff transparent;
  margin-top: -40px;
  position: absolute;
}
.sibspot-chevron h2.block-title {
  color: #fff;
  font-family: boogaloo;
  font-size: 28px;
  margin: 0 0 20px;
}
.sibspot-chevron p {
  margin: 0 0 5px;
}
.sibspot-chevron p:last-child a {
  background: #248f84;
  border: 1px dotted #fed233;
  border-radius: 2px;
  color: #fed233;
  display: block;
  font-family: boogaloo;
  font-size: 22px;
  padding: 10px;
  text-transform: uppercase;
}
.sibspot-chevron p:last-child a:hover {
  background: #3aa398;
  color: #fef67f;
}
.block-taxonomy-menu-block.cancer-types {
  margin-bottom: 60px;
}
.block-taxonomy-menu-block.cancer-types li {
  font-size: 15px;
  margin: 0 0 5px;
}
.chevron {
  background: #729ee0;
  margin-bottom: 30px;
}
.chevron .block-inner {
  padding: 10px 30px 65px;
  text-align: center;
}
.chevron p {
  text-align: center;
}
.region-sidebar-first .block.chevron img {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.chevron:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 152px 40px;
  border-color: transparent transparent #729ee0 transparent;
  margin-top: -40px;
  position: absolute;
}
.chevron:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 152px 40px;
  border-color: transparent transparent #fff transparent;
  margin-top: -40px;
  position: absolute;
}
.chevron h2.block-title {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  margin: 0 0 20px;
}
.not-front .sidebar .chevron p {
  color: #fff;
}
.chevron p:last-child {
  margin-bottom: 5px;
}
.chevron p:last-child a {
  color: #fef67f;
  font-weight: 700;
  text-transform: uppercase;
}
.region-sidebar-first .chevron-menu .menu-block-wrapper > ul.menu,
.region-sidebar-first .block-menu-block.chevron-menu .menu-block-wrapper,
.region-sidebar-first .block-menu-block.chevron-menu {
  background: #145ecc;
  margin: 0;
}
.region-sidebar-first .block-menu-block.chevron-menu {
  margin: 0 0 40px;
}
.region-sidebar-first .block-menu-block.chevron-menu h2.block-title {
  background: 0 0 !important;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  margin: 0 0 20px;
  padding: 20px 30px 0;
  text-align: center;
}
.region-sidebar-first .chevron-menu .menu-block-wrapper > ul.menu {
  padding: 5px 30px 25px;
}
.chevron-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 152px 40px;
  border-color: transparent transparent #145ecc transparent;
  margin-top: -40px;
  position: absolute;
}
.chevron-menu:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 152px 40px;
  border-color: transparent transparent #fff transparent;
  margin-top: -40px;
  position: absolute;
}
.chevron-menu ul.menu li {
  float: left;
  line-height: 110%;
  margin: 0 0 8px;
  width: 100%;
}
.chevron-menu ul.menu ul.menu li {
  margin: 0;
}
.chevron-menu li a {
  color: #fef67f;
  display: block;
  font-size: 18px;
  padding: 3px 0;
}
.region-sidebar-first .block-menu-block.chevron-menu ul li li a:hover,
.region-sidebar-first .block-menu-block.chevron-menu ul li li a :hover,
.region-sidebar-first .block-menu-block.chevron-menu ul li:hover,
.region-sidebar-first .block-menu-block.chevron-menu ul li.active {
  background: 0 0 !important;
}
.region-sidebar-first .chevron-menu .parent-mlid-0 li.active-trail a.active-trail.active,
.region-sidebar-first .chevron-menu .parent-mlid-0 li:first-child ul li a.active-trail.active,
.region-sidebar-first .block-menu-block.chevron-menu ul li.active-trail li a,
.region-sidebar-first .chevron-menu .parent-mlid-0 li:first-child a.active-trail:before,
.region-sidebar-first .block-menu-block.chevron-menu ul li.active a:before,
.region-sidebar-first .chevron-menu li.menu-depth-5 a:hover:before,
.region-sidebar-first .block-menu-block.chevron-menu ul li a:hover,
.region-sidebar-first .block-menu-block.chevron-menu ul li.active a,
.region-sidebar-first .block-menu-block.chevron-menu ul li.active-trail li a:hover,
.region-sidebar-first .chevron-menu .parent-mlid-0 li.active-trail a.active-trail:hover,
.region-sidebar-first .chevron-menu .parent-mlid-0 li.active-trail a.active-trail:hover:before {
  background: 0 0;
  border-color: transparent transparent transparent #ebfcff;
  color: #ebfcff;
}
.region-sidebar-first .chevron-menu .parent-mlid-0 li:first-child ul li a.active-trail,
.region-sidebar-first .block-menu-block.chevron-menu ul li li a {
  color: #fef67f;
  font-size: 16px;
  padding: 5px 20px;
  width: 90%;
}
.region-sidebar-first .chevron-menu li.menu-depth-5 a {
  clear: left;
  float: left;
  width: 100%;
}
.region-sidebar-first .chevron-menu li.menu-depth-5 a span {
  float: left;
  width: 90%;
}
.region-sidebar-first .chevron-menu li.menu-depth-6 a:before {
  border: none;
}
.region-sidebar-first .chevron-menu .parent-mlid-0 li:first-child a.active-trail {
  background: 0 0 !important;
  color: #ebfcff;
  margin: 0;
  padding: 0 0 5px;
}
.region-sidebar-first .block-menu-block.chevron-menu ul ul {
  background: 0 0;
}
.region-sidebar-first .chevron-menu .parent-mlid-0 li:first-child a.active-trail:before,
.region-sidebar-first .chevron-menu .parent-mlid-0 li.active-trail a.active-trail,
.region-sidebar-first .chevron-menu .parent-mlid-0 li:first-child a.active-trail,
.region-sidebar-first .block-menu-block.chevron-menu ul li.active-trail li a {
  border-color: transparent transparent transparent #fef67f;
  color: #fef67f;
}
