@font-face {
  font-family: boogaloo;
  src: url(/sites/all/fonts/boogaloo-regular-webfont.woff2) format("woff2"), url(/sites/all/fonts/boogaloo-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
.sibspot h2,
.sibspot h3,
.sibspot h4,
.sibspot h5 {
  font-weight: 400;
}
.sibspot #content .panel-flexible {
  margin: 0;
}
.sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-region-inside {
  padding-right: 0;
}
.sibspot .panels-flexible-region-flexible_special_event_layout-row_2_left {
  width: 60%;
}
.sibspot .row-halves-1 .panels-flexible-region-first {
  width: auto;
}
.sibspot .panels-flexible-region-flexible_special_event_layout-row_2_right {
  width: 40%;
}
.sibspot .row-halves-1 .panels-flexible-region-last {
  float: right;
}
.not-logged-in.sibspot #main-content-header {
  display: none;
}
.sibspot #columns,
.panels-flexible-alsf_campaign_layout .panels-flexible-region-inside,
.sibspot .panels-flexible-alsf_campaign_layout .panels-flexible-row,
.sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-row {
  padding: 0;
}
.sibspot #secondary-content-wrapper {
  display: none;
}
.sibspot .container {
  max-width: 100%;
}
.sibspot .panels-flexible-row-inside {
  max-width: 1160px;
}
.sibspot .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-1,
.sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2 {
  background-color: #fff09a;
  height: 115px;
  margin-top: 98px;
  padding: 15px 20px 5px;
}
.sibspot .row-halves-1 .panels-flexible-row-inside,
.sibspot .row-2 .panels-flexible-row-inside {
  max-width: 1200px;
}
.sibspot .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region,
.sibspot .row-2-left .inside {
  margin-left: 206px;
}
#supersibs-logo {
  margin-top: 15px;
}
#supersibs-logo p {
  margin: 0;
}
#supersibs-logo img {
  max-width: 330px;
  width: 90%;
}
#sibspot-nav {
  position: relative;
}
#sibspot-nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
#block-system-main #sibspot-nav li {
  cursor: pointer;
  display: inline;
  font-family: Boogaloo;
  font-size: 22px;
  list-style: none;
  position: relative;
  top: 73px;
}
#block-system-main #sibspot-nav li:hover {
  top: 63px;
}
#block-system-main #sibspot-nav li a {
  background: #fee052;
  color: #003595;
  margin-left: 3px;
  padding: 20px;
}
#block-system-main #sibspot-nav li a:hover {
  padding: 20px;
}
.sibspot .panels-flexible-row-alsf_campaign_layout-row-full-1,
.sibspot .row-3,
.sibspot .row-4 {
  background: #003595;
}
.sibspot .panels-flexible-row-alsf_campaign_layout-row-full-1:before,
.sibspot .row-3:before {
  background: url(/sites/all/themes/alsf_adaptive/images/supersibs/tooth_new.png) repeat-x;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  top: 225px;
  width: 100%;
}
#polaroids {
  padding: 40px 0;
  text-align: center;
}
#polaroids h2 {
  color: #fff;
  font-family: Boogaloo;
  font-size: 40px;
  margin: 0;
}
#polaroids h3 {
  color: #edf7fd;
  font-family: Boogaloo;
  font-size: 31px;
  margin: 0;
}
#polaroids ul {
  margin: 40px 0 0;
  padding: 0;
}
#polaroids li {
  display: inline;
  list-style: none;
  margin: 0 12px;
}
#polaroids li img {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  width: 22%;
}
#polaroids li:first-child img {
  transform: rotate(-3deg);
}
#polaroids li:nth-child(2) img {
  transform: rotate(2deg);
}
#polaroids li:nth-child(3) img {
  transform: rotate(-3deg);
}
#polaroids li:nth-child(4) img {
  transform: rotate(1deg);
}
#polaroids li img:hover {
  transform: rotate(0deg);
}
.sibspot h1#page-title {
  display: none;
}
.sibspot .row-4 .panels-flexible-region-inside {
  border-top: 2px dotted #003595;
  margin: 20px auto 60px;
  padding: 25px 0;
  position: relative;
  text-align: center;
}
.sibspot.filters .row-4 .panels-flexible-region-inside {
  display: none;
}
.sibspot #main-content .row-4 h2.block-title {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  margin: 0 0 10px;
}
.sibspot .row-4 p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
.sibspot .row-4 ul {
  display: table;
  margin: 0 auto;
  padding: 0;
}
.sibspot .row-4 li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
}
.sibspot .row-4 li a {
  border: 1px solid;
  color: #ffe964;
  display: block;
  font-size: 18px;
  padding: 10px;
  width: 240px;
}
.sibspot .row-4 li a:hover {
  background: rgba(1, 36, 94, 0.3);
  color: #9bfae7;
}
.node-type-sibspot-item.sibspot .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-1,
.node-type-sibspot-item.sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2,
.sibspot.age-group .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-1,
.sibspot.age-group .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2 {
  margin-top: 98px;
}
.node-type-sibspot-item.sibspot .panels-flexible-row-alsf_campaign_layout-row-full-1:before,
.node-type-sibspot-item.sibspot .row-3:before,
.sibspot.age-group .panels-flexible-row-alsf_campaign_layout-row-full-1:before,
.sibspot.age-group .row-3:before {
  top: 127px;
}
.sibspot .panels-flexible-row-alsf_campaign_layout-row-full-1 {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.view-sibspot {
  margin: 0 0 50px;
}
.view-sibspot.open {
  margin: 0 0 20px;
}
.sibspot-filters ul {
  display: table;
  margin: 40px auto;
  padding: 0;
}
.sibspot-filters li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
}
.sibspot-filters li a {
  border: 1px dotted #afe2e3;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: Boogaloo;
  font-size: 19px;
  padding: 0 15px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}
.sibspot-filters li span {
  display: block;
  text-align: center;
}
.view-sibspot .expand {
  margin: 15px 0;
  text-align: center;
}
.view-sibspot .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.view-sibspot .views-row {
  margin: 0 1.5% 3%;
  width: 30%;
}
.view-sibspot .sibspot-item {
  background: #fff;
  border: 3px solid #fff;
  box-shadow: 0 0 5px #3e58aa;
}
.view-sibspot .sibspot-item:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}
.view-sibspot .sibspot-item .field-name-title {
  font-family: Boogaloo;
  font-size: 24px;
  min-height: 40px;
  padding: 10px;
  text-align: left;
}
.sibspot .view-footer p {
  text-align: center;
}
.sibspot-item.category-1059 {
  background: #145ecc;
  border-color: #145ecc;
}
.sibspot-item.category-1060 {
  background: #3e58aa;
  border-color: #3e58aa;
}
.sibspot-item.category-1061 {
  background: #afe2e3;
  border-color: #afe2e3;
}
.sibspot-item.category-1062 {
  background: #ffc629;
  border-color: #ffc629;
}
.sibspot-item.category-1059 .field-name-title,
.sibspot-item.category-1060 .field-name-title {
  color: #fff;
}
.sibspot-item.category-1061 .field-name-title,
.sibspot-item.category-1062 .field-name-title {
  color: #003595;
}
.filters .block-inner {
  margin: 40px 0 0;
}
.sibspot-filters #coping a.active,
.sibspot-filters #coping:hover a {
  background: #afe2e3;
  color: #003595;
}
.sibspot-filters #worksheets a.active,
.sibspot-filters #worksheets:hover a {
  background: #ffc629;
  color: #003595;
}
.sibspot-filters #activities a.active,
.sibspot-filters #activities:hover a {
  background: #145ecc;
  color: #afe2e3;
}
.sibspot-filters #cancer-info a.active,
.sibspot-filters #cancer-info:hover a {
  background: #3e58aa;
  color: #afe2e3;
}
.sibspot-filters #cancer-info a.active img,
.sibspot-filters #activities a.active img,
.sibspot-filters #worksheets a.active img,
.sibspot-filters #coping a.active img,
.sibspot-filters #cancer-info:hover img,
.sibspot-filters #activities:hover img,
.sibspot-filters #worksheets:hover img,
.sibspot-filters #coping:hover img {
  display: none;
}
.sibspot-filters #coping a.active:before,
.sibspot-filters #coping:hover a:before {
  content: url(/sites/all/themes/alsf_adaptive/images/supersibs/icon-coping-o.png);
  display: block;
}
.sibspot-filters #worksheets a.active:before,
.sibspot-filters #worksheets:hover a:before {
  content: url(/sites/all/themes/alsf_adaptive/images/supersibs/icon-worksheets-o.png);
  display: block;
}
.sibspot-filters #activities a.active:before,
.sibspot-filters #activities:hover a:before {
  content: url(/sites/all/themes/alsf_adaptive/images/supersibs/icon-activities-o.png);
  display: block;
}
.sibspot-filters #cancer-info a.active:before,
.sibspot-filters #cancer-info:hover a:before {
  content: url(/sites/all/themes/alsf_adaptive/images/supersibs/icon-info-o.png);
  display: block;
}
.sibspot-expand a {
  outline: none;
  -webkit-outline: none;
}
.sibspot-expand.open a img {
  height: 0 !important;
  opacity: 0;
}
.sibspot-expand a img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.sibspot-expand.open a:before {
  content: url(/sites/all/themes/alsf_adaptive/images/supersibs/icon-collapse.png);
  display: block;
  margin: -30px 0 0;
}
.logged-in.node-type-sibspot-item header#main-content-header,
.logged-in.node-type-page.sibspot header#main-content-header {
  display: none;
}
.logged-in.sibspot.page-panels #main-content {
  margin: 0 auto;
}
.sibspot.page-panels #main-content {
  margin: 74px auto 0;
}
.page-childhood-cancer-for-families-supersibs-1055 #block-system-main #sibspot-nav li:first-of-type,
.age-1055 #block-system-main #sibspot-nav li:first-of-type,
.page-childhood-cancer-for-families-supersibs-1056 #block-system-main #sibspot-nav li:nth-of-type(2),
.age-1056 #block-system-main #sibspot-nav li:nth-of-type(2),
.page-childhood-cancer-for-families-supersibs-1058 #block-system-main #sibspot-nav li:nth-of-type(3),
.age-1058 #block-system-main #sibspot-nav li:nth-of-type(3),
.page-childhood-cancer-for-families-supersibs-1057 #block-system-main #sibspot-nav li:nth-of-type(4),
.age-1057 #block-system-main #sibspot-nav li:nth-of-type(4) {
  top: 63px;
}
.page-childhood-cancer-for-families-supersibs-1055 #block-system-main #sibspot-nav li:first-of-type a,
.age-1055 #block-system-main #sibspot-nav li:first-of-type a,
.page-childhood-cancer-for-families-supersibs-1056 #block-system-main #sibspot-nav li:nth-of-type(2) a,
.age-1056 #block-system-main #sibspot-nav li:nth-of-type(2) a,
.page-childhood-cancer-for-families-supersibs-1058 #block-system-main #sibspot-nav li:nth-of-type(3) a,
.age-1058 #block-system-main #sibspot-nav li:nth-of-type(3) a,
.page-childhood-cancer-for-families-supersibs-1057 #block-system-main #sibspot-nav li:nth-of-type(4) a,
.age-1057 #block-system-main #sibspot-nav li:nth-of-type(4) a {
  background: #145ecc;
  color: #ffc629;
  padding: 20px 20px 30px;
}
.sibspot.page-panels #content-wrapper {
  margin-top: 0;
}
.sibspot.age-group .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-2 {
  display: none;
}
.sibspot.age-group .row-halves-3,
.node-type-sibspot-item .row-halves-3,
.node-type-sibspot-item .row-full-1 .panel-separator {
  display: none;
}
.sibspot .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-2 {
  background: #c9ecfa;
  border-top: 6px solid #fff;
  padding: 45px 0;
}
.sibspot .row-halves-2 .panels-flexible-region-alsf_campaign_layout-row-halves-2-left-region {
  width: 59%;
}
.sibspot .row-halves-2 .panels-flexible-region-alsf_campaign_layout-row-halves-2-right-region {
  float: right;
  width: 39%;
}
.sibspot .row-halves-2 h2 {
  color: #222;
  font-family: Boogaloo;
  font-size: 40px;
  margin: 0 0 15px;
}
.sibspot .row-halves-2 p {
  font-size: 21px;
  line-height: 150%;
}
.sibspot .field-type-file a.sibspot-download {
  background: #437ed6;
  border: 1px dotted #003595;
  border-radius: 4px;
  color: #edf7fd;
  font-family: Boogaloo;
  font-size: 22px;
  padding: 10px 50px;
  text-transform: uppercase;
}
.sibspot .field-type-file a.sibspot-download:hover {
  background: #145ecc;
}
.sibspot .slides img,
.sibspot .row-halves-2 .field-name-field-image img {
  border: 6px solid #fff;
}
.sibspot .flex-direction-nav a {
  height: 30px;
  margin: 0 -15px 0 0;
  padding: 10px 0 0;
}
.flex-direction-nav a:before {
  color: rgba(255, 255, 255, 0.8);
}
.flex-direction-nav a:hover:before {
  color: #fff;
}
.sibspot .flex-control-paging li a {
  background: rgba(58, 163, 152, 0.7);
}
.sibspot .flex-control-paging li a.flex-active,
.sibspot .flex-control-paging li a:hover {
  background: #3aa398;
}
.node-type-campaign-subpage.section-childhood-cancer .region-secondary-content {
  display: none;
}
.section-childhood-cancer .view-mode-full p.intro {
  font-size: 18px;
}
.section-childhood-cancer .view-mode-full .field-name-body h4 {
  font-size: 20px;
}
table.cards tr {
  background: #fef793;
  border-bottom: 10px solid #fff;
}
table.cards tr:nth-of-type(2n) {
  background: #fefab2 !important;
}
.field-name-body table.cards td {
  padding: 15px;
}
.field-name-body table.cards td:first-child {
  min-width: 180px;
  padding-right: 0;
}
table.cards td h3 {
  color: #003595;
  font-size: 20px;
  font-weight: 900;
  margin: 0 0 7px;
}
table.cards td h3 a {
  color: #003595;
}
table.cards td h3 a:hover {
  color: #145ecc;
}
table.cards td p {
  margin: 0 0 7px;
}
table.cards td p:last-child {
  margin: 0;
}
table.cards td p a {
  color: #145ecc;
  font-weight: 700;
}
table.cards td p a:hover {
  text-decoration: underline;
}
.section-childhood-cancer #tertiary-content-wrapper {
  background: #3e58aa;
}
.block-supersibs-featured-supersibs {
  padding: 40px 0 0;
}
.block-supersibs-featured-supersibs .block-inner {
  max-width: 940px;
}
.block-supersibs-featured-supersibs .flexslider {
  background: 0 0;
}
.block-supersibs-featured-supersibs .views-field-field-image {
  margin: 0 20px 0 0;
  width: 33%;
}
.block-supersibs-featured-supersibs .views-field-field-image img {
  border: 8px solid #ffe964;
}
.block-supersibs-featured-supersibs .views-field-supersib-details {
  float: right;
  margin: 15px 0 0;
  width: 62%;
}
.views-field-supersib-details p {
  color: #fff;
}
.block-supersibs-featured-supersibs h4 {
  color: #afe2e3;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.block-supersibs-featured-supersibs .views-field-title {
  font-family: boogaloo;
  font-size: 34px;
  margin: 14px 0 18px;
}
.block-supersibs-featured-supersibs p a,
.block-supersibs-featured-supersibs .views-field-title a {
  color: #ffe964;
  font-weight: 400;
  line-height: 1.1em;
}
.block-supersibs-featured-supersibs .flex-control-nav {
  bottom: 50px;
  float: right;
  position: relative;
  width: auto;
}
.block-supersibs-featured-supersibs .flex-control-paging li a.flex-active {
  background: #afe2e3;
}
.block-supersibs-featured-supersibs .flex-control-paging li a {
  background: #fff;
}
fieldset {
  background: rgba(185, 207, 240, 0.5);
  border: none;
  border-top: 5px solid #145ecc;
  margin: 0 0 15px;
  padding: 15px 25px;
}
html.js .node-type-webform fieldset.collapsible.collapsed {
  height: auto;
  padding-bottom: 0;
}
html.js .node-type-webform fieldset.collapsible .fieldset-legend,
html.js .node-type-webform fieldset.collapsible.collapsed .fieldset-legend {
  background: 0 0;
  padding-left: 0;
}
html.js .node-type-webform fieldset.collapsible .fieldset-legend a,
html.js .node-type-webform fieldset.collapsible.collapsed .fieldset-legend a {
  color: #145ecc;
}
html.js .node-type-webform fieldset.collapsible.collapsed .fieldset-legend a:before {
  border-style: solid;
  border-width: 7px 0 7px 9px;
  content: "";
  float: left;
  margin: 15px 10px 0 0;
  border-color: transparent transparent transparent #145ecc;
}
html.js .node-type-webform fieldset.collapsible .fieldset-legend a:before {
  border-style: solid;
  border-width: 9px 7px 0;
  content: "";
  float: left;
  margin: 18px 10px 0 0;
  border-color: #145ecc transparent transparent transparent;
}
fieldset legend {
  float: left;
  letter-spacing: 0;
  line-height: 1.5em;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
}
span.fieldset-legend {
  display: block;
  font-weight: 700;
}
form textarea {
  font-family: source sans pro, sans-serif;
}
input.webform-submit {
  display: table;
  font-size: 18px;
  margin: 0 auto;
  text-transform: none;
}
.webform-component-checkboxes,
.node-type-webform .form-type-checkbox {
  float: left;
  width: 100%;
}
.webform-component-checkboxes {
  margin-top: 0;
}
.node-type-webform input.form-checkbox {
  float: left;
  width: 2%;
}
.node-type-webform input.form-checkbox + label {
  float: left;
  width: 97%;
}
@media screen and (max-width: 1400px) {
  #block-system-main #sibspot-nav li {
    top: 72px;
  }
}
@media screen and (max-width: 1240px) {
  .node-type-sibspot-item.sibspot .panels-flexible-row-inside.panels-flexible-row-alsf_campaign_layout-row-halves-2-inside {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .sibspot .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region,
  .sibspot .row-2-left .inside {
    margin-left: 190px;
    margin-top: 0;
  }
  .sibspot .row-halves-1 .panels-flexible-region-first,
  .sibspot .row-halves-1 .panels-flexible-region-last {
    width: 40%;
  }
}
@media screen and (max-width: 1159px) {
  #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li {
    top: 58px;
  }
  #block-system-main #sibspot-nav li:hover,
  .page-childhood-cancer-for-families-supersibs-1031 #block-system-main #sibspot-nav li:first-of-type,
  .age-1031 #block-system-main #sibspot-nav li:first-of-type,
  .page-childhood-cancer-for-families-supersibs-1032 #block-system-main #sibspot-nav li:nth-of-type(2),
  .age-1032 #block-system-main #sibspot-nav li:nth-of-type(2),
  .page-childhood-cancer-for-families-supersibs-1033 #block-system-main #sibspot-nav li:nth-of-type(3),
  .age-1033 #block-system-main #sibspot-nav li:nth-of-type(3),
  .page-childhood-cancer-for-families-supersibs-1034 #block-system-main #sibspot-nav li:nth-of-type(4),
  .age-1034 #block-system-main #sibspot-nav li:nth-of-type(4) {
    top: 48px;
  }
  .page-childhood-cancer-for-families-supersibs-1055 #block-system-main #sibspot-nav li:first-of-type a,
  .age-1055 #block-system-main #sibspot-nav li:first-of-type a,
  .page-childhood-cancer-for-families-supersibs-1056 #block-system-main #sibspot-nav li:nth-of-type(2) a,
  .age-1056 #block-system-main #sibspot-nav li:nth-of-type(2) a,
  .page-childhood-cancer-for-families-supersibs-1058 #block-system-main #sibspot-nav li:nth-of-type(3) a,
  .age-1058 #block-system-main #sibspot-nav li:nth-of-type(3) a,
  .page-childhood-cancer-for-families-supersibs-1057 #block-system-main #sibspot-nav li:nth-of-type(4) a,
  .age-1057 #block-system-main #sibspot-nav li:nth-of-type(4) a {
    padding: 20px;
  }
}
@media screen and (max-width: 1100px) {
  #polaroids li img {
    width: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .sibspot .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region,
  .sibspot .row-2-left .inside {
    margin-left: 150px;
  }
  .block-supersibs-featured-supersibs .block-inner {
    max-width: 94%;
  }
}
@media screen and (max-width: 909px) {
  .sibspot .row-halves-1 .panels-flexible-region-first {
    width: 35%;
  }
  .sibspot .row-halves-1 .panels-flexible-region-first p {
    margin: 12px 0 0;
  }
  .node-type-sibspot-item.sibspot .row-halves-1 .panels-flexible-region-first,
  .sibspot .row-halves-1 .panels-flexible-region-last {
    width: 45%;
  }
}
@media screen and (max-width: 900px) {
  #supersibs-logo {
    margin: 15px 0 0 140px;
    max-width: 330px;
  }
  .sibspot .panels-flexible-region-flexible_special_event_layout-row_2_left {
    width: 60%;
  }
  .sibspot .panels-flexible-region-flexible_special_event_layout-row_2_right {
    width: 39%;
  }
  .sibspot .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region,
  .sibspot .row-2-left .inside {
    margin-left: 0;
  }
  .sibspot .row-halves-1 .panels-flexible-region-last {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .sibspot .row-halves-1 .panels-flexible-region-first img {
    width: 90%;
  }
  #block-system-main #sibspot-nav li {
    font-size: 20px;
  }
}
@media screen and (max-width: 740px) {
  .node-type-sibspot-item.sibspot .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-1,
  .node-type-sibspot-item.sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2,
  .sibspot.age-group .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-1,
  .sibspot.age-group .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2 {
    margin-top: 110px;
  }
  .sibspot .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region,
  .sibspot .panels-flexible-region-flexible_special_event_layout-row_2_left,
  .sibspot .row-halves-1 .panels-flexible-region-first {
    width: 44%;
  }
  .node-type-sibspot-item.sibspot .row-halves-1 .panels-flexible-region-first {
    width: 40%;
  }
  #supersibs-logo {
    margin: 14px 0 0 140px;
    width: 75%;
  }
  #supersibs-logo img {
    max-width: 250px;
  }
  .sibspot .row-halves-1 .panels-flexible-region-last,
  .sibspot .panels-flexible-region-flexible_special_event_layout-row_2_right {
    float: right;
    width: 54%;
  }
  .sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2 {
    margin-top: 110px;
  }
  .sibspot .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-1,
  .sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2 {
    height: 94px;
    padding-top: 10px;
  }
  .panels-flexible-region-alsf_campaign_layout-row-halves-1-right-region {
    margin-top: 2px;
  }
  #block-system-main #sibspot-nav li {
    top: 52px;
  }
  .sibspot .row-halves-1 .panels-flexible-region-first p {
    margin: 6px;
  }
  #block-system-main #sibspot-nav li:hover,
  .page-childhood-cancer-for-families-supersibs-1031 #block-system-main #sibspot-nav li:first-of-type,
  .age-1031 #block-system-main #sibspot-nav li:first-of-type,
  .page-childhood-cancer-for-families-supersibs-1032 #block-system-main #sibspot-nav li:nth-of-type(2),
  .age-1032 #block-system-main #sibspot-nav li:nth-of-type(2),
  .page-childhood-cancer-for-families-supersibs-1033 #block-system-main #sibspot-nav li:nth-of-type(3),
  .age-1033 #block-system-main #sibspot-nav li:nth-of-type(3),
  .page-childhood-cancer-for-families-supersibs-1034 #block-system-main #sibspot-nav li:nth-of-type(4),
  .age-1034 #block-system-main #sibspot-nav li:nth-of-type(4) {
    top: 42px;
  }
  #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:hover,
  #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li {
    top: 39px;
  }
  #block-system-main #sibspot-nav li:hover,
  .page-childhood-cancer-for-families-supersibs-1031 #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:first-of-type,
  .age-1031 #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:first-of-type,
  .page-childhood-cancer-for-families-supersibs-1032 #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:nth-of-type(2),
  .age-1032 #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:nth-of-type(2),
  .page-childhood-cancer-for-families-supersibs-1033 #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:nth-of-type(3),
  .age-1033 #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:nth-of-type(3),
  .page-childhood-cancer-for-families-supersibs-1034 #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:nth-of-type(4),
  .age-1034 #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:nth-of-type(4) {
    top: 29px;
  }
  .sibspot .panels-flexible-row-alsf_campaign_layout-row-full-1:before {
    top: 114px;
    top: 100px !important;
  }
  .sibspot .row-3:before {
    top: 210px;
  }
}
@media screen and (max-width: 671px) {
  .sibspot .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-1,
  .sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2 {
    height: 89px;
    padding: 15px 15px 5px;
  }
  .sibspot .row-halves-1 .panels-flexible-region-first,
  .sibspot .panels-flexible-region-alsf_campaign_layout-row-halves-1-left-region,
  .sibspot .panels-flexible-region-flexible_special_event_layout-row_2_left {
    width: 40%;
  }
  .sibspot .row-halves-1 .panels-flexible-region-last,
  .sibspot .panels-flexible-region-flexible_special_event_layout-row_2_right {
    width: 60%;
  }
  .sibspot #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav {
    margin-top: -5px;
  }
  #block-system-main #sibspot-nav li {
    top: 49px;
  }
  #block-system-main #sibspot-nav li:hover,
  .page-childhood-cancer-for-families-supersibs-1031 #block-system-main #sibspot-nav li:first-of-type,
  .age-1031 #block-system-main #sibspot-nav li:first-of-type,
  .page-childhood-cancer-for-families-supersibs-1032 #block-system-main #sibspot-nav li:nth-of-type(2),
  .age-1032 #block-system-main #sibspot-nav li:nth-of-type(2),
  .page-childhood-cancer-for-families-supersibs-1033 #block-system-main #sibspot-nav li:nth-of-type(3),
  .age-1033 #block-system-main #sibspot-nav li:nth-of-type(3),
  .page-childhood-cancer-for-families-supersibs-1034 #block-system-main #sibspot-nav li:nth-of-type(4),
  .age-1034 #block-system-main #sibspot-nav li:nth-of-type(4) {
    top: 39px;
  }
  .view-sibspot .sibspot-item .field-name-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  #leaderboard-wrapper .container,
  .leaderboard-link,
  #leaderboard-wrapper.tiny .leaderboard-link {
    height: 40px !important;
  }
  #leaderboard-wrapper.tiny {
    height: 56px !important;
    padding-top: 20px !important;
  }
  .not-front.sibspot #content .row-halves-2 h2,
  .not-front #content #polaroids h2 {
    font-size: 34px;
    line-height: 110%;
  }
  .sibspot .row-halves-1 .panels-flexible-region-first img {
    width: 220px !important;
    padding-top: 0;
  }
  #supersibs-logo {
    margin: 27px 0 0 125px;
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .sibspot .row-halves-1 .panels-flexible-region-first img {
    width: 300px !important;
  }
  #leaderboard-wrapper.tiny .container {
    margin-top: 26px !important;
  }
  .sibspot .row-halves-1 .panels-flexible-region-first,
  .sibspot .row-halves-1 .panels-flexible-region-last,
  .node-type-sibspot-item.sibspot .row-halves-1 .panels-flexible-region-first,
  .node-type-sibspot-item.sibspot .row-halves-1 .panels-flexible-region-last,
  .sibspot .panels-flexible-region-flexible_special_event_layout-row_2_left,
  .sibspot .panels-flexible-region-flexible_special_event_layout-row_2_right {
    text-align: center;
    width: 100%;
  }
  .sibspot .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-1,
  .sibspot .panels-flexible-flexible_special_event_layout .panels-flexible-row.row-2 {
    height: 155px;
    margin-top: 126px !important;
    padding: 10px 10px 5px;
  }
  #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li:hover,
  #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav li {
    top: 31px;
  }
  .page-childhood-cancer-for-families-supersibs-1055 #block-system-main #sibspot-nav li:first-of-type a,
  .age-1055 #block-system-main #sibspot-nav li:first-of-type a,
  .page-childhood-cancer-for-families-supersibs-1056 #block-system-main #sibspot-nav li:nth-of-type(2) a,
  .age-1056 #block-system-main #sibspot-nav li:nth-of-type(2) a,
  .page-childhood-cancer-for-families-supersibs-1058 #block-system-main #sibspot-nav li:nth-of-type(3) a,
  .age-1058 #block-system-main #sibspot-nav li:nth-of-type(3) a,
  .page-childhood-cancer-for-families-supersibs-1057 #block-system-main #sibspot-nav li:nth-of-type(4) a,
  .age-1057 #block-system-main #sibspot-nav li:nth-of-type(4) a {
    padding-bottom: 10px !important;
  }
  .sibspot .panels-flexible-flexible_special_event_layout .row-2-right .panels-flexible-region-inside {
    padding-left: 0 !important;
  }
  .sibspot .row-halves-1 .panels-flexible-region-first p,
  #supersibs-logo {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .sibspot .row-halves-1 .panels-flexible-region-first p img,
  #supersibs-logo img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding: 16px 0 33px;
    width: 90%;
  }
  .sibspot .row-3:before {
    top: 288px;
  }
  .sibspot .panels-flexible-row-alsf_campaign_layout-row-full-1:before,
  .sibspot.age-group .row-3:before {
    top: 163px !important;
  }
  #block-system-main #sibspot-nav li a {
    background: #fee052;
    color: #003595;
    margin-left: 3px;
    padding: 10px 20px 15px;
  }
  #block-system-main #sibspot-nav li a:hover {
    background: #145ecc;
    color: #ffc629;
    padding: 20px 20px 15px;
  }
  #sibspot-nav ul {
    position: relative;
    right: auto;
    top: -18px;
  }
  #sibspot-nav,
  .sibspot #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav {
    margin: -22px 0 0;
  }
  .node-type-page.sibspot #sibspot-nav {
    margin: -18px 0 0;
  }
  #block-system-main #sibspot-nav li {
    top: 34px;
  }
  .not-front #content #polaroids h2 {
    font-size: 30px;
    line-height: 100%;
  }
  #polaroids li {
    margin: 0 8px;
  }
  .sibspot .row-4 .panels-flexible-region-inside {
    margin: 10px auto 30px;
    padding: 30px 20px 0;
  }
  .sibspot .row-4 li {
    display: block;
    margin: 0 0 10px;
  }
  .block-supersibs-featured-supersibs .block-inner {
    margin: 0 20px;
  }
  .block-supersibs-featured-supersibs .views-field-supersib-details {
    margin: 0;
  }
  .block-supersibs-featured-supersibs .flexslider .views-field-title {
    font-size: 30px;
  }
  .sibspot-filters ul {
    margin: 20px auto;
  }
  .sibspot-filters li {
    margin: 0 8px 16px;
  }
  .view-sibspot {
    margin: 0 auto 10%;
    width: 85%;
  }
  .view-sibspot .views-row {
    margin: 0 0 5%;
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  #polaroids {
    padding: 40px 0 20px;
  }
  #polaroids li {
    display: inline-block;
    margin: 0 0 15px;
    width: 45%;
  }
  #polaroids li img {
    width: 85%;
  }
  .block-supersibs-featured-supersibs .views-field-field-image {
    float: none;
    margin: 0 auto 20px;
    width: 90%;
  }
  .block-supersibs-featured-supersibs .views-field-field-image img {
    width: 95%;
  }
  .block-supersibs-featured-supersibs .views-field-supersib-details {
    float: none;
    margin: 0 auto !important;
    width: 90%;
  }
  .field-name-body table.cards td {
    padding: 15px !important;
    width: 91%;
  }
  .field-name-body table.cards td:first-child {
    padding: 15px 15px 0 !important;
    text-align: center;
  }
  .sibspot.node-type-sibspot-item .panels-flexible-alsf_campaign_layout .panels-flexible-row.row-halves-2 {
    padding: 15px 0 40px;
  }
  .sibspot.node-type-sibspot-item .row-halves-2 .panels-flexible-region-alsf_campaign_layout-row-halves-2-left-region,
  .sibspot.node-type-sibspot-item .row-halves-2 .panels-flexible-region-alsf_campaign_layout-row-halves-2-right-region {
    float: none;
    margin: 0 auto 25px;
    width: 90%;
  }
  .sibspot .row-halves-2 .field-name-field-image img {
    margin-left: -6px;
  }
  .sibspot .field-type-file a {
    display: table;
    margin: 0 auto;
  }
  .sibspot.node-type-sibspot-item .panel-flexible .panel-separator {
    margin: 0;
  }
}
@media screen and (max-width: 375px) {
  #supersibs .row-3 .block-inner,
  #supersibs .row-4 .block-inner {
    padding: 0 15px;
  }
  #block-system-main #sibspot-nav li a:hover,
  #block-system-main #sibspot-nav li a {
    padding: 15px 15px 9px !important;
  }
  .page-childhood-cancer-for-families-supersibs-1031 #block-system-main #sibspot-nav li:first-of-type a,
  .age-1031 #block-system-main #sibspot-nav li:first-of-type a,
  .page-childhood-cancer-for-families-supersibs-1032 #block-system-main #sibspot-nav li:nth-of-type(2) a,
  .age-1032 #block-system-main #sibspot-nav li:nth-of-type(2) a,
  .page-childhood-cancer-for-families-supersibs-1033 #block-system-main #sibspot-nav li:nth-of-type(3) a,
  .age-1033 #block-system-main #sibspot-nav li:nth-of-type(3) a,
  .page-childhood-cancer-for-families-supersibs-1034 #block-system-main #sibspot-nav li:nth-of-type(4) a,
  .age-1034 #block-system-main #sibspot-nav li:nth-of-type(4) a {
    padding-bottom: 30px !important;
  }
}
@media screen and (max-width: 360px) {
  #sibspot-nav,
  .sibspot #block-system-main .row-halves-1 .panels-flexible-region-last #sibspot-nav {
    margin: -20px 0 0;
  }
  #polaroids ul {
    margin: 20px 0 0;
  }
  .not-front #content #polaroids h2,
  .not-front #content #polaroids h3 {
    font-size: 27px;
  }
  .sibspot #main-content .row-4 h2.block-title,
  .sibspot .row-4 p {
    font-size: 20px;
  }
  #block-system-main #sibspot-nav li a:hover,
  #block-system-main #sibspot-nav li a {
    padding: 15px 11px 9px !important;
  }
}
